<a href="https://colab.research.google.com/github/sornavel/Hackathons-Janatahack/blob/master/Healthcare_CAT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install PyDrive

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.4)
Requirement already satisfied: httplib2<1dev,>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.17.4)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.12.0)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.17.2)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.6)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (49.1.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (4.1.1)

In [ ]:
import os
import pandas as pd
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
np.random.seed(0)
from tqdm import tqdm, tqdm_notebook
tqdm.pandas()
from IPython.core.display import HTML 
from IPython.display import Image
import gc
from keras.applications.densenet import preprocess_input, DenseNet121
from keras.models import Model
from keras.layers import GlobalAveragePooling2D, Input, Lambda, AveragePooling1D
import keras.backend as K

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
download = drive.CreateFile({'id': '1FUu6ZyHdGB_ElcE4ZuwzPAh-DbQ7mAwQ'})
download.GetContentFile('train.csv')
train_df = pd.read_csv('train.csv')

download = drive.CreateFile({'id': '1vE_M60f3HJ4R1GSFl3QjHWzuwEIcVrmd'})
download.GetContentFile('Third_Health_Camp_Attended.csv')
third_df = pd.read_csv('Third_Health_Camp_Attended.csv')

download = drive.CreateFile({'id': '1hnoPLF_uC4hrpCcSFmGJ1UxLog7grgrl'})
download.GetContentFile('Second_Health_Camp_Attended.csv')
second_df = pd.read_csv('Second_Health_Camp_Attended.csv')

download = drive.CreateFile({'id': '1LMzFdyra4gObQctf5h0lb6DtUnqiLBT3'})
download.GetContentFile('First_Health_Camp_Attended.csv')
first_df = pd.read_csv('First_Health_Camp_Attended.csv')

download = drive.CreateFile({'id': '16JMb9xNz5BEMlV9dS7reh9yi8ivGHYT2'})
download.GetContentFile('Patient_Profile.csv')
patient_df = pd.read_csv('Patient_Profile.csv')

download = drive.CreateFile({'id': '16AFNM3SlDDRMpEAdq4ssddK5QwoH9S33'})
download.GetContentFile('Health_Camp_Detail.csv')
camp_df = pd.read_csv('Health_Camp_Detail.csv')

download = drive.CreateFile({'id': '1aQqKgHFJ0M5j-V34G_TZgOIi2xc6GnaA'})
download.GetContentFile('test.csv')
test_df = pd.read_csv('test.csv')

In [ ]:
train_df.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0
3      524931            6535         07-Feb-04     0     0     0     0     0
4      521364            6529         28-Feb-06    15     1     0     0     7

In [ ]:
first_df.head()

   Patient_ID  Health_Camp_ID  Donation  Health_Score  Unnamed: 4
0      506181            6560        40      0.439024         NaN
1      494977            6560        20      0.097561         NaN
2      518680            6560        10      0.048780         NaN
3      509916            6560        30      0.634146         NaN
4      488006            6560        20      0.024390         NaN

In [ ]:
second_df.head()

   Patient_ID  Health_Camp_ID  Health Score
0      526631            6536      0.875136
1      509122            6536      0.755700
2      498864            6536      0.673181
3      515398            6536      0.722041
4      504624            6536      0.464712

In [ ]:
third_df.head()

   Patient_ID  ...  Last_Stall_Visited_Number
0      517875  ...                          1
1      504692  ...                          1
2      504692  ...                          1
3      493167  ...                          4
4      510954  ...                          2

[5 rows x 4 columns]

In [ ]:
patient_df.head()

   Patient_ID  Online_Follower  ...  City_Type  Employer_Category
0      516956                0  ...        NaN  Software Industry
1      507733                0  ...          H  Software Industry
2      508307                0  ...          D               BFSI
3      512612                0  ...          D          Education
4      521075                0  ...          H             Others

[5 rows x 11 columns]

In [ ]:
camp_df.head()

   Health_Camp_ID Camp_Start_Date Camp_End_Date Category1 Category2  Category3
0            6560       16-Aug-03     20-Aug-03     First         B          2
1            6530       16-Aug-03     28-Oct-03     First         C          2
2            6544       03-Nov-03     15-Nov-03     First         F          1
3            6585       22-Nov-03     05-Dec-03     First         E          2
4            6561       30-Nov-03     18-Dec-03     First         E          1

In [ ]:
test_df.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      505701            6548         21-May-06     1     0     0     0     2
1      500633            6584         02-Jun-06     0     0     0     0     0
2      506945            6582         10-Aug-06     0     0     0     0     0
3      497447            6551         27-Aug-06     0     0     0     0     0
4      496446            6533         19-Sep-06     0     0     0     0     0

In [ ]:
third_df_filtered = third_df[third_df.Number_of_stall_visited!=0]

In [ ]:
df = pd.concat([train_df,test_df],axis=0)
df.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0
3      524931            6535         07-Feb-04     0     0     0     0     0
4      521364            6529         28-Feb-06    15     1     0     0     7

In [ ]:
temp = pd.merge(df,first_df,how='left', on=['Patient_ID','Health_Camp_ID'])
temp.Health_Score.loc[~temp.Health_Score.isnull()] = 1
temp.Health_Score.loc[temp.Health_Score.isnull()] = 0
df = temp.rename(columns={'Health_Score':'succ_1'})

temp = pd.merge(df,second_df,how='left', on=['Patient_ID','Health_Camp_ID'])
temp['Health Score'].loc[~temp['Health Score'].isnull()] = 1
temp['Health Score'].loc[temp['Health Score'].isnull()] = 0
df = temp.rename(columns={'Health Score':'succ_2'})

temp = pd.merge(df,third_df_filtered,how='left', on=['Patient_ID','Health_Camp_ID'])
temp['Number_of_stall_visited'].loc[~temp['Number_of_stall_visited'].isnull()] = 1
temp['Number_of_stall_visited'].loc[temp['Number_of_stall_visited'].isnull()] = 0
df = temp.rename(columns={'Number_of_stall_visited':'succ_3'})
df.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

   Patient_ID  Health_Camp_ID  ... succ_3  Last_Stall_Visited_Number
0      489652            6578  ...    1.0                        1.0
1      507246            6578  ...    0.0                        NaN
2      523729            6534  ...    0.0                        NaN
3      524931            6535  ...    0.0                        NaN
4      521364            6529  ...    0.0                        NaN

[5 rows x 14 columns]

In [ ]:
df.drop(['Donation','Unnamed: 4','Last_Stall_Visited_Number'],axis=1,inplace=True)

In [ ]:
df['Reg_year'] = pd.DatetimeIndex(df.Registration_Date).year
df['Reg_month'] = pd.DatetimeIndex(df.Registration_Date).month
df['Reg_day'] = pd.DatetimeIndex(df.Registration_Date).day

In [ ]:
temp = pd.merge(df,patient_df,on='Patient_ID',how='left')
df=temp
temp = pd.merge(df,camp_df,on='Health_Camp_ID',how='left')
df=temp

In [ ]:
df.drop(['Patient_ID','Health_Camp_ID','Registration_Date',],axis=1,inplace=True)

In [ ]:
df.Income[df.Income=='None'] = 0
df.Education_Score[df.Education_Score=='None'] = 0
df.Age[df.Age=='None'] = 0
df.Age = df.Age.astype('int64')
df.Age[df.Age==0] = df.Age[df.Age!=0].mean()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df['fi_year'] = pd.DatetimeIndex(df.First_Interaction).year
df['fi_month'] = pd.DatetimeIndex(df.First_Interaction).month
df['fi_day'] = pd.DatetimeIndex(df.First_Interaction).day

In [ ]:
df.drop(['First_Interaction'],axis=1,inplace=True)

In [ ]:
#temp = df.City_Type[~df.City_Type.isnull()].mode()
df.City_Type = df.City_Type.replace(np.nan,'B')
df.Employer_Category = df.Employer_Category.replace(np.nan,'Technology')

In [ ]:
temp = pd.to_datetime(df.Camp_End_Date) - pd.to_datetime(df.Camp_Start_Date)
df['camp_days'] = temp.dt.days

In [ ]:
df.drop(['Camp_Start_Date', 'Camp_End_Date'],axis=1,inplace=True)
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder() 
df['City_Type']= le.fit_transform(df['City_Type']) 
df['Category1']= le.fit_transform(df['Category1']) 
df['Category2']= le.fit_transform(df['Category2']) 
df['Employer_Category']= le.fit_transform(df['Employer_Category'])

In [ ]:
#temp = df.Reg_year[~df.Reg_year.isnull()].mode() = 2006
df.Reg_year = df.Reg_year.replace(np.nan,2006)
df.Reg_month = df.Reg_month.replace(np.nan,9)
df.Reg_day = df.Reg_day.replace(np.nan,18)

In [ ]:
df['succ'] = df['succ_1'] + df['succ_2'] + df['succ_3']

In [ ]:
y_train = df['succ'][:train_df.shape[0]]
df.drop(['succ','succ_1','succ_2','succ_3'],axis=1,inplace = True)

In [ ]:
df.head()

   Var1  Var2  Var3  Var4  ...  fi_year  fi_month  fi_day  camp_days
0     4     0     0     0  ...     2004        12       6         59
1    45     5     0     0  ...     2004         9       8         59
2     0     0     0     0  ...     2004         6      22        751
3     0     0     0     0  ...     2004         2       7         17
4    15     1     0     0  ...     2003         7       4          4

[5 rows x 24 columns]

In [ ]:
df.Income = df.Income.astype('int64')
df.Education_Score = df.Education_Score.astype('float64')

In [ ]:
for col in ['Online_Follower', 'LinkedIn_Shared', 'Twitter_Shared', 'Facebook_Shared', 'City_Type','Employer_Category','Category1','Category2','Category3']:
    df[col] = df[col].astype('category')

In [ ]:
train = df[:train_df.shape[0]]
label = y_train
test = df[train_df.shape[0]:]
X = df[:train_df.shape[0]]
y = label
Xtest = test

In [ ]:
print(X.shape,Xtest.shape)
from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val = train_test_split(X,y,test_size=0.25,random_state = 1994,stratify=y)
categorical_features_indices = np.where(X_train.dtypes =='category')[0]
categorical_features_indices

(75278, 24) (35249, 24)

array([ 8,  9, 10, 11, 15, 16, 17, 18, 19])

In [ ]:
!pip3 install catboost
from catboost import CatBoostClassifier
m=CatBoostClassifier(n_estimators=2500,random_state=1994,learning_rate=0.03,eval_metric='AUC')
# m=RidgeCV(cv=4)
m.fit(X_train,y_train,eval_set=[(X_val, y_val.values)], early_stopping_rounds=300,verbose=200,cat_features=categorical_features_indices)
p=m.predict_proba(X_val)[:,-1]

Requirement already satisfied: catboost in /usr/local/lib/python3.6/dist-packages (0.23.2)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.5)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
0:	test: 0.7782188	best: 0.7782188 (0)	total: 130ms	remaining: 5m 25s
200:	test: 0.8445114	best: 0.8445114 (200)	total: 13.8s	remaining: 2m 38s
400:	test: 0.8496269	best: 0.8496269 (400)	total: 27.4s	remaining: 2m 23s
600:	test: 0.8531331	best: 0.8531331 (600)	total: 40.9s	remaining: 2m 9s
800:	test: 0.8550958	best: 0.8551012 (797)	total: 54.4s	remaining: 1m 55s
1000:	test: 0.8564777	best: 0.8564777 (1000)	total: 1m 8s	remaining: 1m 42s
1200:	test: 0.8575066	best: 0.8575066 (1200)	total: 1m 22s	remaining: 1m 29s
1400:	test: 0.8582272	best: 0.8582272 (1400)	total: 1m 36s	remaining: 1m 15s
1600:	test: 0.8588679	best: 0.8588679 (1600)	total: 1m 50s	remaining: 1m 1s
1800:	test: 0.8594137	best: 0.8594137 (1800)	total: 2m 4s	remaining: 48.2s
2000:	test: 0.8599801	best: 0.8599870 (1995)	total: 2m 18s	remaining: 34.5s
2200:	test: 0.8604900	best: 0.8604934 (2198)	total: 2m 32s	remaining: 20.7s
2400:	test: 0.8609578	best: 0.8609633 (2398)	total: 2m 46s	remaining: 6.87s
2499:	test: 0.8610934	best: 0.8610936 (2490)	total: 2m 53s	remaining: 0us

bestTest = 0.8610935962
bestIteration = 2490

Shrink model to first 2491 iterations.

NameError: ignored

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix,roc_auc_score
print(roc_auc_score(y_val,p))

0.8610935961959654

In [ ]:
errCB=[]
y_pred_tot_cb=[]
from sklearn.model_selection import KFold,StratifiedKFold
fold=StratifiedKFold(n_splits=15,shuffle=True,random_state=1994)
i=1
for train_index, test_index in fold.split(X,y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    m=CatBoostClassifier(n_estimators=5000,random_state=1994,eval_metric='AUC',learning_rate=0.03)
    m.fit(X_train,y_train,eval_set=[(X_train,y_train),(X_test, y_test)], early_stopping_rounds=200,verbose=200,cat_features=categorical_features_indices)
    preds=m.predict_proba(X_test)[:,-1]
    print("err_cb: ",roc_auc_score(y_test,preds))
    errCB.append(roc_auc_score(y_test,preds))
    p = m.predict_proba(Xtest)[:,-1]
    i=i+1
    y_pred_tot_cb.append(p)

0:	test: 0.7900731	test1: 0.7950452	best: 0.7950452 (0)	total: 119ms	remaining: 9m 56s
200:	test: 0.8484278	test1: 0.8504699	best: 0.8504931 (199)	total: 19.8s	remaining: 7m 53s
400:	test: 0.8574015	test1: 0.8563980	best: 0.8563980 (400)	total: 39.9s	remaining: 7m 37s
600:	test: 0.8636233	test1: 0.8592748	best: 0.8592748 (600)	total: 1m	remaining: 7m 22s
800:	test: 0.8675647	test1: 0.8605430	best: 0.8605605 (794)	total: 1m 20s	remaining: 7m 2s
1000:	test: 0.8708679	test1: 0.8619523	best: 0.8619729 (997)	total: 1m 40s	remaining: 6m 42s
1200:	test: 0.8737525	test1: 0.8628725	best: 0.8628753 (1199)	total: 2m 1s	remaining: 6m 22s
1400:	test: 0.8763818	test1: 0.8636663	best: 0.8636703 (1399)	total: 2m 21s	remaining: 6m 4s
1600:	test: 0.8785573	test1: 0.8642135	best: 0.8642173 (1599)	total: 2m 42s	remaining: 5m 45s
1800:	test: 0.8806384	test1: 0.8646946	best: 0.8646946 (1800)	total: 3m 3s	remaining: 5m 26s
2000:	test: 0.8823390	test1: 0.8652051	best: 0.8652429 (1988)	total: 3m 24s	remaining: 5m 7s
2200:	test: 0.8840207	test1: 0.8655961	best: 0.8655961 (2200)	total: 3m 46s	remaining: 4m 47s
2400:	test: 0.8856603	test1: 0.8659255	best: 0.8659257 (2399)	total: 4m 7s	remaining: 4m 27s
2600:	test: 0.8871410	test1: 0.8664194	best: 0.8664323 (2596)	total: 4m 28s	remaining: 4m 7s
2800:	test: 0.8885068	test1: 0.8665167	best: 0.8665167 (2800)	total: 4m 50s	remaining: 3m 47s
3000:	test: 0.8895973	test1: 0.8666930	best: 0.8667056 (2980)	total: 5m 11s	remaining: 3m 27s
3200:	test: 0.8907364	test1: 0.8667813	best: 0.8667905 (3198)	total: 5m 32s	remaining: 3m 7s
3400:	test: 0.8917996	test1: 0.8667531	best: 0.8668101 (3309)	total: 5m 54s	remaining: 2m 46s
3600:	test: 0.8927594	test1: 0.8669070	best: 0.8669232 (3591)	total: 6m 15s	remaining: 2m 25s
3800:	test: 0.8938043	test1: 0.8671111	best: 0.8671519 (3765)	total: 6m 37s	remaining: 2m 5s
4000:	test: 0.8947822	test1: 0.8673200	best: 0.8673494 (3990)	total: 6m 58s	remaining: 1m 44s
4200:	test: 0.8957717	test1: 0.8674649	best: 0.8675023 (4174)	total: 7m 19s	remaining: 1m 23s
4400:	test: 0.8967847	test1: 0.8676128	best: 0.8676656 (4364)	total: 7m 41s	remaining: 1m 2s
4600:	test: 0.8976871	test1: 0.8677569	best: 0.8677595 (4570)	total: 8m 3s	remaining: 41.9s
4800:	test: 0.8985769	test1: 0.8678457	best: 0.8678682 (4792)	total: 8m 25s	remaining: 20.9s
4999:	test: 0.8993693	test1: 0.8679810	best: 0.8680054 (4979)	total: 8m 46s	remaining: 0us

bestTest = 0.8680054434
bestIteration = 4979

Shrink model to first 4980 iterations.
err_cb:  0.8680054434293605
0:	test: 0.7980077	test1: 0.7898355	best: 0.7898355 (0)	total: 109ms	remaining: 9m 6s
200:	test: 0.8491703	test1: 0.8375118	best: 0.8375615 (198)	total: 20.8s	remaining: 8m 16s
400:	test: 0.8575917	test1: 0.8451324	best: 0.8451324 (400)	total: 41.5s	remaining: 7m 56s
600:	test: 0.8634041	test1: 0.8492515	best: 0.8492515 (600)	total: 1m 2s	remaining: 7m 34s
800:	test: 0.8681727	test1: 0.8521967	best: 0.8522105 (799)	total: 1m 23s	remaining: 7m 15s
1000:	test: 0.8716886	test1: 0.8540140	best: 0.8540414 (997)	total: 1m 44s	remaining: 6m 55s
1200:	test: 0.8744875	test1: 0.8554375	best: 0.8554375 (1200)	total: 2m 5s	remaining: 6m 37s
1400:	test: 0.8768227	test1: 0.8564292	best: 0.8564292 (1400)	total: 2m 27s	remaining: 6m 18s
1600:	test: 0.8790637	test1: 0.8571644	best: 0.8571788 (1591)	total: 2m 49s	remaining: 5m 58s
1800:	test: 0.8810793	test1: 0.8576145	best: 0.8576161 (1797)	total: 3m 10s	remaining: 5m 38s
2000:	test: 0.8827249	test1: 0.8579837	best: 0.8579943 (1996)	total: 3m 32s	remaining: 5m 18s
2200:	test: 0.8842290	test1: 0.8582617	best: 0.8582617 (2200)	total: 3m 53s	remaining: 4m 57s
2400:	test: 0.8857653	test1: 0.8584770	best: 0.8585195 (2387)	total: 4m 15s	remaining: 4m 36s
2600:	test: 0.8869630	test1: 0.8588042	best: 0.8588205 (2541)	total: 4m 37s	remaining: 4m 15s
2800:	test: 0.8883231	test1: 0.8589782	best: 0.8590084 (2794)	total: 4m 58s	remaining: 3m 54s
3000:	test: 0.8896401	test1: 0.8591190	best: 0.8591381 (2999)	total: 5m 20s	remaining: 3m 33s
3200:	test: 0.8907837	test1: 0.8593576	best: 0.8593576 (3200)	total: 5m 42s	remaining: 3m 12s
3400:	test: 0.8919581	test1: 0.8595199	best: 0.8595359 (3355)	total: 6m 4s	remaining: 2m 51s
3600:	test: 0.8930800	test1: 0.8597148	best: 0.8597264 (3594)	total: 6m 26s	remaining: 2m 30s
3800:	test: 0.8941227	test1: 0.8597885	best: 0.8598525 (3717)	total: 6m 49s	remaining: 2m 9s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.8598525071
bestIteration = 3717

Shrink model to first 3718 iterations.
err_cb:  0.8598525070794601
0:	test: 0.7973887	test1: 0.7980278	best: 0.7980278 (0)	total: 121ms	remaining: 10m 2s
200:	test: 0.8486281	test1: 0.8429938	best: 0.8429938 (200)	total: 21.3s	remaining: 8m 28s
400:	test: 0.8572827	test1: 0.8490769	best: 0.8490769 (400)	total: 42.4s	remaining: 8m 6s
600:	test: 0.8633635	test1: 0.8524601	best: 0.8524601 (600)	total: 1m 2s	remaining: 7m 36s
800:	test: 0.8673780	test1: 0.8543375	best: 0.8543527 (799)	total: 1m 22s	remaining: 7m 13s
1000:	test: 0.8706687	test1: 0.8555931	best: 0.8556167 (997)	total: 1m 43s	remaining: 6m 54s
1200:	test: 0.8737910	test1: 0.8566132	best: 0.8566694 (1164)	total: 2m 4s	remaining: 6m 34s
1400:	test: 0.8761899	test1: 0.8572668	best: 0.8572986 (1395)	total: 2m 25s	remaining: 6m 14s
1600:	test: 0.8784339	test1: 0.8581605	best: 0.8581629 (1599)	total: 2m 47s	remaining: 5m 56s
1800:	test: 0.8804085	test1: 0.8588924	best: 0.8588924 (1800)	total: 3m 10s	remaining: 5m 38s
2000:	test: 0.8822641	test1: 0.8593477	best: 0.8593817 (1996)	total: 3m 33s	remaining: 5m 19s
2200:	test: 0.8840250	test1: 0.8598724	best: 0.8598724 (2200)	total: 3m 55s	remaining: 4m 59s
2400:	test: 0.8857608	test1: 0.8603693	best: 0.8603813 (2398)	total: 4m 17s	remaining: 4m 38s
2600:	test: 0.8874674	test1: 0.8608376	best: 0.8608524 (2592)	total: 4m 39s	remaining: 4m 17s
2800:	test: 0.8889938	test1: 0.8612899	best: 0.8612899 (2800)	total: 5m	remaining: 3m 56s
3000:	test: 0.8904265	test1: 0.8614782	best: 0.8615157 (2969)	total: 5m 22s	remaining: 3m 35s
3200:	test: 0.8918814	test1: 0.8617836	best: 0.8618068 (3144)	total: 5m 44s	remaining: 3m 13s
3400:	test: 0.8931608	test1: 0.8619485	best: 0.8619713 (3350)	total: 6m 7s	remaining: 2m 52s
3600:	test: 0.8944717	test1: 0.8620070	best: 0.8620354 (3588)	total: 6m 28s	remaining: 2m 30s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.8620353823
bestIteration = 3588

Shrink model to first 3589 iterations.
err_cb:  0.8620353822908432
0:	test: 0.7969375	test1: 0.8041265	best: 0.8041265 (0)	total: 119ms	remaining: 9m 56s
200:	test: 0.8483712	test1: 0.8462170	best: 0.8462435 (198)	total: 20.8s	remaining: 8m 15s
400:	test: 0.8579689	test1: 0.8521942	best: 0.8521942 (400)	total: 41.9s	remaining: 8m
600:	test: 0.8645835	test1: 0.8555509	best: 0.8555509 (600)	total: 1m 2s	remaining: 7m 39s
800:	test: 0.8691497	test1: 0.8572919	best: 0.8573181 (798)	total: 1m 23s	remaining: 7m 18s
1000:	test: 0.8724313	test1: 0.8586913	best: 0.8587071 (996)	total: 1m 44s	remaining: 6m 57s
1200:	test: 0.8752300	test1: 0.8600089	best: 0.8600089 (1200)	total: 2m 5s	remaining: 6m 36s
1400:	test: 0.8777169	test1: 0.8605450	best: 0.8605643 (1396)	total: 2m 26s	remaining: 6m 16s
1600:	test: 0.8797564	test1: 0.8610445	best: 0.8610461 (1594)	total: 2m 47s	remaining: 5m 56s
1800:	test: 0.8817795	test1: 0.8613747	best: 0.8614035 (1788)	total: 3m 9s	remaining: 5m 35s
2000:	test: 0.8834429	test1: 0.8616092	best: 0.8616170 (1976)	total: 3m 30s	remaining: 5m 15s
2200:	test: 0.8852099	test1: 0.8618737	best: 0.8618737 (2200)	total: 3m 52s	remaining: 4m 55s
2400:	test: 0.8868476	test1: 0.8622529	best: 0.8622553 (2399)	total: 4m 14s	remaining: 4m 35s
2600:	test: 0.8882827	test1: 0.8624426	best: 0.8625001 (2588)	total: 4m 36s	remaining: 4m 14s
2800:	test: 0.8895001	test1: 0.8627134	best: 0.8627398 (2786)	total: 4m 57s	remaining: 3m 53s
3000:	test: 0.8907622	test1: 0.8628735	best: 0.8628885 (2992)	total: 5m 19s	remaining: 3m 32s
3200:	test: 0.8919773	test1: 0.8630342	best: 0.8630434 (3199)	total: 5m 41s	remaining: 3m 12s
3400:	test: 0.8930457	test1: 0.8631855	best: 0.8632167 (3387)	total: 6m 3s	remaining: 2m 51s
3600:	test: 0.8942591	test1: 0.8634859	best: 0.8634911 (3591)	total: 6m 26s	remaining: 2m 30s
3800:	test: 0.8952560	test1: 0.8634989	best: 0.8635223 (3740)	total: 6m 48s	remaining: 2m 8s
4000:	test: 0.8963489	test1: 0.8635605	best: 0.8635804 (3940)	total: 7m 10s	remaining: 1m 47s
4200:	test: 0.8972625	test1: 0.8636652	best: 0.8636714 (4152)	total: 7m 33s	remaining: 1m 26s
4400:	test: 0.8982340	test1: 0.8639738	best: 0.8639976 (4380)	total: 7m 55s	remaining: 1m 4s
4600:	test: 0.8991981	test1: 0.8640384	best: 0.8641439 (4528)	total: 8m 17s	remaining: 43.2s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.8641439107
bestIteration = 4528

Shrink model to first 4529 iterations.
err_cb:  0.8641439106637182
0:	test: 0.8015856	test1: 0.8050202	best: 0.8050202 (0)	total: 113ms	remaining: 9m 25s
200:	test: 0.8486515	test1: 0.8442782	best: 0.8442782 (200)	total: 20.7s	remaining: 8m 13s
400:	test: 0.8570755	test1: 0.8517076	best: 0.8517076 (400)	total: 41.3s	remaining: 7m 53s
600:	test: 0.8629770	test1: 0.8558167	best: 0.8558167 (600)	total: 1m 1s	remaining: 7m 32s
800:	test: 0.8673930	test1: 0.8586954	best: 0.8586954 (800)	total: 1m 22s	remaining: 7m 11s
1000:	test: 0.8709693	test1: 0.8608295	best: 0.8608295 (1000)	total: 1m 42s	remaining: 6m 51s
1200:	test: 0.8739215	test1: 0.8621101	best: 0.8621133 (1196)	total: 2m 4s	remaining: 6m 33s
1400:	test: 0.8765307	test1: 0.8631642	best: 0.8631642 (1400)	total: 2m 25s	remaining: 6m 14s
1600:	test: 0.8785683	test1: 0.8637263	best: 0.8637263 (1600)	total: 2m 46s	remaining: 5m 54s
1800:	test: 0.8804248	test1: 0.8644752	best: 0.8644980 (1799)	total: 3m 8s	remaining: 5m 34s
2000:	test: 0.8820837	test1: 0.8651857	best: 0.8651947 (1991)	total: 3m 29s	remaining: 5m 14s
2200:	test: 0.8836970	test1: 0.8657558	best: 0.8657608 (2176)	total: 3m 50s	remaining: 4m 53s
2400:	test: 0.8851509	test1: 0.8661749	best: 0.8661751 (2399)	total: 4m 12s	remaining: 4m 32s
2600:	test: 0.8864677	test1: 0.8664270	best: 0.8664270 (2600)	total: 4m 33s	remaining: 4m 12s
2800:	test: 0.8878156	test1: 0.8668401	best: 0.8668401 (2800)	total: 4m 54s	remaining: 3m 51s
3000:	test: 0.8891548	test1: 0.8672996	best: 0.8673054 (2992)	total: 5m 16s	remaining: 3m 30s
3200:	test: 0.8903009	test1: 0.8676470	best: 0.8676518 (3198)	total: 5m 37s	remaining: 3m 9s
3400:	test: 0.8914461	test1: 0.8678876	best: 0.8679466 (3368)	total: 5m 58s	remaining: 2m 48s
3600:	test: 0.8926328	test1: 0.8683447	best: 0.8683451 (3599)	total: 6m 20s	remaining: 2m 27s
3800:	test: 0.8937415	test1: 0.8685544	best: 0.8685828 (3792)	total: 6m 42s	remaining: 2m 6s
4000:	test: 0.8947837	test1: 0.8688246	best: 0.8688430 (3989)	total: 7m 3s	remaining: 1m 45s
4200:	test: 0.8958491	test1: 0.8690093	best: 0.8690371 (4194)	total: 7m 25s	remaining: 1m 24s
4400:	test: 0.8968575	test1: 0.8692756	best: 0.8692812 (4399)	total: 7m 47s	remaining: 1m 3s
4600:	test: 0.8977382	test1: 0.8694456	best: 0.8694660 (4564)	total: 8m 9s	remaining: 42.4s
4800:	test: 0.8986700	test1: 0.8696099	best: 0.8696099 (4800)	total: 8m 30s	remaining: 21.2s
4999:	test: 0.8995219	test1: 0.8697271	best: 0.8697656 (4946)	total: 8m 52s	remaining: 0us

bestTest = 0.8697655523
bestIteration = 4946

Shrink model to first 4947 iterations.
err_cb:  0.8697655522979477
0:	test: 0.7980264	test1: 0.7890849	best: 0.7890849 (0)	total: 125ms	remaining: 10m 25s
200:	test: 0.8496806	test1: 0.8338435	best: 0.8338863 (196)	total: 20.2s	remaining: 8m 1s
400:	test: 0.8578132	test1: 0.8394847	best: 0.8394847 (400)	total: 39.9s	remaining: 7m 37s
600:	test: 0.8637622	test1: 0.8432154	best: 0.8432154 (600)	total: 59.8s	remaining: 7m 17s
800:	test: 0.8684460	test1: 0.8459323	best: 0.8459323 (800)	total: 1m 20s	remaining: 7m 2s
1000:	test: 0.8718885	test1: 0.8475936	best: 0.8475936 (1000)	total: 1m 40s	remaining: 6m 43s
1200:	test: 0.8748154	test1: 0.8489388	best: 0.8489526 (1198)	total: 2m 1s	remaining: 6m 25s
1400:	test: 0.8772132	test1: 0.8500052	best: 0.8500052 (1400)	total: 2m 23s	remaining: 6m 7s
1600:	test: 0.8795033	test1: 0.8509126	best: 0.8509126 (1600)	total: 2m 44s	remaining: 5m 48s
1800:	test: 0.8816230	test1: 0.8515358	best: 0.8515856 (1789)	total: 3m 5s	remaining: 5m 29s
2000:	test: 0.8835658	test1: 0.8517965	best: 0.8517965 (2000)	total: 3m 26s	remaining: 5m 9s
2200:	test: 0.8853235	test1: 0.8522216	best: 0.8522354 (2186)	total: 3m 47s	remaining: 4m 49s
2400:	test: 0.8867941	test1: 0.8524842	best: 0.8525228 (2382)	total: 4m 9s	remaining: 4m 29s
2600:	test: 0.8882073	test1: 0.8528260	best: 0.8528494 (2581)	total: 4m 30s	remaining: 4m 9s
2800:	test: 0.8895808	test1: 0.8531962	best: 0.8532158 (2797)	total: 4m 51s	remaining: 3m 48s
3000:	test: 0.8907751	test1: 0.8532252	best: 0.8532945 (2938)	total: 5m 12s	remaining: 3m 28s
3200:	test: 0.8920173	test1: 0.8535442	best: 0.8535538 (3180)	total: 5m 34s	remaining: 3m 7s
3400:	test: 0.8930884	test1: 0.8537482	best: 0.8537630 (3380)	total: 5m 55s	remaining: 2m 46s
3600:	test: 0.8942331	test1: 0.8538342	best: 0.8538344 (3596)	total: 6m 16s	remaining: 2m 26s
3800:	test: 0.8952544	test1: 0.8540560	best: 0.8540668 (3789)	total: 6m 38s	remaining: 2m 5s
4000:	test: 0.8962995	test1: 0.8543287	best: 0.8543589 (3960)	total: 6m 59s	remaining: 1m 44s
4200:	test: 0.8973092	test1: 0.8545783	best: 0.8546003 (4195)	total: 7m 21s	remaining: 1m 23s
4400:	test: 0.8981304	test1: 0.8548997	best: 0.8549255 (4350)	total: 7m 42s	remaining: 1m 2s
4600:	test: 0.8989486	test1: 0.8549923	best: 0.8550320 (4591)	total: 8m 3s	remaining: 41.9s
4800:	test: 0.8997941	test1: 0.8550094	best: 0.8550520 (4737)	total: 8m 24s	remaining: 20.9s
4999:	test: 0.9005901	test1: 0.8551560	best: 0.8551791 (4896)	total: 8m 45s	remaining: 0us

bestTest = 0.8551790628
bestIteration = 4896

Shrink model to first 4897 iterations.
err_cb:  0.8551790628095699
0:	test: 0.7981346	test1: 0.7875349	best: 0.7875349 (0)	total: 104ms	remaining: 8m 41s
200:	test: 0.8492809	test1: 0.8377392	best: 0.8377392 (200)	total: 19.9s	remaining: 7m 56s
400:	test: 0.8579573	test1: 0.8440166	best: 0.8440166 (400)	total: 40.3s	remaining: 7m 41s
600:	test: 0.8634165	test1: 0.8477256	best: 0.8477270 (599)	total: 60s	remaining: 7m 18s
800:	test: 0.8679386	test1: 0.8499416	best: 0.8499416 (800)	total: 1m 19s	remaining: 6m 58s
1000:	test: 0.8717316	test1: 0.8517373	best: 0.8517421 (997)	total: 1m 40s	remaining: 6m 39s
1200:	test: 0.8743444	test1: 0.8527875	best: 0.8527931 (1199)	total: 2m	remaining: 6m 20s
1400:	test: 0.8767897	test1: 0.8535335	best: 0.8535335 (1400)	total: 2m 20s	remaining: 6m 1s
1600:	test: 0.8789951	test1: 0.8542236	best: 0.8542236 (1600)	total: 2m 41s	remaining: 5m 42s
1800:	test: 0.8809371	test1: 0.8550335	best: 0.8550421 (1794)	total: 3m 2s	remaining: 5m 23s
2000:	test: 0.8828003	test1: 0.8557915	best: 0.8557966 (1999)	total: 3m 23s	remaining: 5m 4s
2200:	test: 0.8847095	test1: 0.8563795	best: 0.8563795 (2200)	total: 3m 44s	remaining: 4m 45s
2400:	test: 0.8862240	test1: 0.8568438	best: 0.8568680 (2395)	total: 4m 4s	remaining: 4m 25s
2600:	test: 0.8876644	test1: 0.8571488	best: 0.8571572 (2594)	total: 4m 25s	remaining: 4m 5s
2800:	test: 0.8890974	test1: 0.8575096	best: 0.8575096 (2800)	total: 4m 47s	remaining: 3m 45s
3000:	test: 0.8904937	test1: 0.8577326	best: 0.8577478 (2985)	total: 5m 8s	remaining: 3m 25s
3200:	test: 0.8916843	test1: 0.8579639	best: 0.8579707 (3189)	total: 5m 28s	remaining: 3m 4s
3400:	test: 0.8928574	test1: 0.8583325	best: 0.8583325 (3400)	total: 5m 50s	remaining: 2m 44s
3600:	test: 0.8940635	test1: 0.8584700	best: 0.8585125 (3559)	total: 6m 11s	remaining: 2m 24s
3800:	test: 0.8951883	test1: 0.8587944	best: 0.8588181 (3787)	total: 6m 32s	remaining: 2m 3s
4000:	test: 0.8961855	test1: 0.8590164	best: 0.8590492 (3985)	total: 6m 53s	remaining: 1m 43s
4200:	test: 0.8971397	test1: 0.8593452	best: 0.8593456 (4198)	total: 7m 14s	remaining: 1m 22s
4400:	test: 0.8980922	test1: 0.8593954	best: 0.8593974 (4399)	total: 7m 36s	remaining: 1m 2s
4600:	test: 0.8991205	test1: 0.8595033	best: 0.8596148 (4556)	total: 7m 57s	remaining: 41.4s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.8596147573
bestIteration = 4556

Shrink model to first 4557 iterations.
err_cb:  0.8596147572970971
0:	test: 0.7964512	test1: 0.8112638	best: 0.8112638 (0)	total: 109ms	remaining: 9m 3s
200:	test: 0.8479207	test1: 0.8565610	best: 0.8565610 (200)	total: 20.4s	remaining: 8m 6s
400:	test: 0.8562618	test1: 0.8635684	best: 0.8635684 (400)	total: 40.8s	remaining: 7m 47s
600:	test: 0.8619678	test1: 0.8672076	best: 0.8672076 (600)	total: 1m	remaining: 7m 23s
800:	test: 0.8666127	test1: 0.8697315	best: 0.8697315 (800)	total: 1m 20s	remaining: 7m 2s
1000:	test: 0.8701505	test1: 0.8713688	best: 0.8713968 (998)	total: 1m 40s	remaining: 6m 42s
1200:	test: 0.8728905	test1: 0.8723500	best: 0.8723518 (1196)	total: 2m	remaining: 6m 22s
1400:	test: 0.8754729	test1: 0.8734231	best: 0.8734233 (1399)	total: 2m 20s	remaining: 6m 2s
1600:	test: 0.8777643	test1: 0.8742804	best: 0.8742902 (1597)	total: 2m 41s	remaining: 5m 43s
1800:	test: 0.8797929	test1: 0.8750847	best: 0.8750971 (1799)	total: 3m 2s	remaining: 5m 24s
2000:	test: 0.8815970	test1: 0.8758488	best: 0.8758488 (2000)	total: 3m 23s	remaining: 5m 4s
2200:	test: 0.8830908	test1: 0.8764438	best: 0.8764568 (2199)	total: 3m 44s	remaining: 4m 45s
2400:	test: 0.8844874	test1: 0.8769817	best: 0.8769823 (2398)	total: 4m 4s	remaining: 4m 24s
2600:	test: 0.8860212	test1: 0.8773153	best: 0.8773153 (2600)	total: 4m 25s	remaining: 4m 5s
2800:	test: 0.8873804	test1: 0.8777522	best: 0.8777560 (2798)	total: 4m 46s	remaining: 3m 45s
3000:	test: 0.8885551	test1: 0.8781230	best: 0.8781230 (3000)	total: 5m 7s	remaining: 3m 24s
3200:	test: 0.8898083	test1: 0.8787226	best: 0.8787254 (3199)	total: 5m 28s	remaining: 3m 4s
3400:	test: 0.8909443	test1: 0.8789988	best: 0.8790012 (3397)	total: 5m 49s	remaining: 2m 44s
3600:	test: 0.8920996	test1: 0.8794597	best: 0.8794673 (3599)	total: 6m 10s	remaining: 2m 23s
3800:	test: 0.8931473	test1: 0.8799179	best: 0.8799248 (3799)	total: 6m 31s	remaining: 2m 3s
4000:	test: 0.8941091	test1: 0.8800324	best: 0.8800356 (3999)	total: 6m 52s	remaining: 1m 42s
4200:	test: 0.8951045	test1: 0.8803810	best: 0.8803989 (4197)	total: 7m 13s	remaining: 1m 22s
4400:	test: 0.8961450	test1: 0.8806680	best: 0.8806680 (4400)	total: 7m 34s	remaining: 1m 1s
4600:	test: 0.8971340	test1: 0.8809938	best: 0.8810102 (4597)	total: 7m 55s	remaining: 41.3s
4800:	test: 0.8980418	test1: 0.8811493	best: 0.8811579 (4793)	total: 8m 17s	remaining: 20.6s
4999:	test: 0.8988998	test1: 0.8812428	best: 0.8812862 (4967)	total: 8m 38s	remaining: 0us

bestTest = 0.8812862103
bestIteration = 4967

Shrink model to first 4968 iterations.
err_cb:  0.881286210312497
0:	test: 0.7955486	test1: 0.7863854	best: 0.7863854 (0)	total: 112ms	remaining: 9m 20s
200:	test: 0.8491277	test1: 0.8394416	best: 0.8394416 (200)	total: 20s	remaining: 7m 57s
400:	test: 0.8576894	test1: 0.8463153	best: 0.8463153 (400)	total: 39.9s	remaining: 7m 37s
600:	test: 0.8632119	test1: 0.8494042	best: 0.8494118 (598)	total: 59.6s	remaining: 7m 15s
800:	test: 0.8677683	test1: 0.8520888	best: 0.8520888 (800)	total: 1m 19s	remaining: 6m 57s
1000:	test: 0.8710529	test1: 0.8532729	best: 0.8533105 (997)	total: 1m 39s	remaining: 6m 37s
1200:	test: 0.8741865	test1: 0.8545254	best: 0.8545254 (1200)	total: 1m 59s	remaining: 6m 19s
1400:	test: 0.8765295	test1: 0.8551833	best: 0.8552348 (1368)	total: 2m 20s	remaining: 6m
1600:	test: 0.8786927	test1: 0.8558275	best: 0.8558275 (1600)	total: 2m 40s	remaining: 5m 41s
1800:	test: 0.8807813	test1: 0.8564605	best: 0.8564605 (1800)	total: 3m 1s	remaining: 5m 22s
2000:	test: 0.8827861	test1: 0.8570752	best: 0.8570896 (1989)	total: 3m 22s	remaining: 5m 3s
2200:	test: 0.8843841	test1: 0.8576894	best: 0.8577176 (2179)	total: 3m 43s	remaining: 4m 44s

In [ ]:
np.mean(errCB,0)

0.866223144923629

In [ ]:
sub_df = pd.DataFrame(test_df)
sub_df["Outcome"] = np.mean(y_pred_tot_cb,0)
sub_final_df = test_df[['Patient_ID','Health_Camp_ID','Outcome']]
sub_final_df.head()

   Patient_ID  Health_Camp_ID   Outcome
0      505701            6548  0.680306
1      500633            6584  0.559970
2      506945            6582  0.078978
3      497447            6551  0.859883
4      496446            6533  0.054042

In [ ]:
sub_final_df.to_csv("submission.csv", index=False)

In [85]:
from google.colab import files
files.download('submission.csv')