<a href="https://colab.research.google.com/github/sornavel/Hackathons-Janatahack/blob/master/Healthcare_XGB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install PyDrive

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.17.2)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.12.0)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.4)
Requirement already satisfied: httplib2<1dev,>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.17.4)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.6)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (4.1.1)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (49.1.0)

In [ ]:
import os
import pandas as pd
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
np.random.seed(0)
from tqdm import tqdm, tqdm_notebook
tqdm.pandas()
from IPython.core.display import HTML 
from IPython.display import Image
import gc
from keras.applications.densenet import preprocess_input, DenseNet121
from keras.models import Model
from keras.layers import GlobalAveragePooling2D, Input, Lambda, AveragePooling1D
import keras.backend as K

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
download = drive.CreateFile({'id': '1FUu6ZyHdGB_ElcE4ZuwzPAh-DbQ7mAwQ'})
download.GetContentFile('train.csv')
train_df = pd.read_csv('train.csv')

download = drive.CreateFile({'id': '1vE_M60f3HJ4R1GSFl3QjHWzuwEIcVrmd'})
download.GetContentFile('Third_Health_Camp_Attended.csv')
third_df = pd.read_csv('Third_Health_Camp_Attended.csv')

download = drive.CreateFile({'id': '1hnoPLF_uC4hrpCcSFmGJ1UxLog7grgrl'})
download.GetContentFile('Second_Health_Camp_Attended.csv')
second_df = pd.read_csv('Second_Health_Camp_Attended.csv')

download = drive.CreateFile({'id': '1LMzFdyra4gObQctf5h0lb6DtUnqiLBT3'})
download.GetContentFile('First_Health_Camp_Attended.csv')
first_df = pd.read_csv('First_Health_Camp_Attended.csv')

download = drive.CreateFile({'id': '16JMb9xNz5BEMlV9dS7reh9yi8ivGHYT2'})
download.GetContentFile('Patient_Profile.csv')
patient_df = pd.read_csv('Patient_Profile.csv')

download = drive.CreateFile({'id': '16AFNM3SlDDRMpEAdq4ssddK5QwoH9S33'})
download.GetContentFile('Health_Camp_Detail.csv')
camp_df = pd.read_csv('Health_Camp_Detail.csv')

download = drive.CreateFile({'id': '1aQqKgHFJ0M5j-V34G_TZgOIi2xc6GnaA'})
download.GetContentFile('test.csv')
test_df = pd.read_csv('test.csv')

In [ ]:
train_df.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0
3      524931            6535         07-Feb-04     0     0     0     0     0
4      521364            6529         28-Feb-06    15     1     0     0     7

In [ ]:
first_df.head()

   Patient_ID  Health_Camp_ID  Donation  Health_Score  Unnamed: 4
0      506181            6560        40      0.439024         NaN
1      494977            6560        20      0.097561         NaN
2      518680            6560        10      0.048780         NaN
3      509916            6560        30      0.634146         NaN
4      488006            6560        20      0.024390         NaN

In [ ]:
second_df.head()

   Patient_ID  Health_Camp_ID  Health Score
0      526631            6536      0.875136
1      509122            6536      0.755700
2      498864            6536      0.673181
3      515398            6536      0.722041
4      504624            6536      0.464712

In [ ]:
third_df.head()

   Patient_ID  ...  Last_Stall_Visited_Number
0      517875  ...                          1
1      504692  ...                          1
2      504692  ...                          1
3      493167  ...                          4
4      510954  ...                          2

[5 rows x 4 columns]

In [ ]:
patient_df.head()

   Patient_ID  Online_Follower  ...  City_Type  Employer_Category
0      516956                0  ...        NaN  Software Industry
1      507733                0  ...          H  Software Industry
2      508307                0  ...          D               BFSI
3      512612                0  ...          D          Education
4      521075                0  ...          H             Others

[5 rows x 11 columns]

In [ ]:
camp_df.head()

   Health_Camp_ID Camp_Start_Date Camp_End_Date Category1 Category2  Category3
0            6560       16-Aug-03     20-Aug-03     First         B          2
1            6530       16-Aug-03     28-Oct-03     First         C          2
2            6544       03-Nov-03     15-Nov-03     First         F          1
3            6585       22-Nov-03     05-Dec-03     First         E          2
4            6561       30-Nov-03     18-Dec-03     First         E          1

In [ ]:
test_df.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      505701            6548         21-May-06     1     0     0     0     2
1      500633            6584         02-Jun-06     0     0     0     0     0
2      506945            6582         10-Aug-06     0     0     0     0     0
3      497447            6551         27-Aug-06     0     0     0     0     0
4      496446            6533         19-Sep-06     0     0     0     0     0

In [ ]:
third_df_filtered = third_df[third_df.Number_of_stall_visited!=0]

In [ ]:
df = pd.concat([train_df,test_df],axis=0)
df.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0
3      524931            6535         07-Feb-04     0     0     0     0     0
4      521364            6529         28-Feb-06    15     1     0     0     7

In [ ]:
temp = pd.merge(df,first_df,how='left', on=['Patient_ID','Health_Camp_ID'])
temp.Health_Score.loc[~temp.Health_Score.isnull()] = 1
temp.Health_Score.loc[temp.Health_Score.isnull()] = 0
df = temp.rename(columns={'Health_Score':'succ_1'})

temp = pd.merge(df,second_df,how='left', on=['Patient_ID','Health_Camp_ID'])
temp['Health Score'].loc[~temp['Health Score'].isnull()] = 1
temp['Health Score'].loc[temp['Health Score'].isnull()] = 0
df = temp.rename(columns={'Health Score':'succ_2'})

temp = pd.merge(df,third_df_filtered,how='left', on=['Patient_ID','Health_Camp_ID'])
temp['Number_of_stall_visited'].loc[~temp['Number_of_stall_visited'].isnull()] = 1
temp['Number_of_stall_visited'].loc[temp['Number_of_stall_visited'].isnull()] = 0
df = temp.rename(columns={'Number_of_stall_visited':'succ_3'})
df.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

   Patient_ID  Health_Camp_ID  ... succ_3  Last_Stall_Visited_Number
0      489652            6578  ...    1.0                        1.0
1      507246            6578  ...    0.0                        NaN
2      523729            6534  ...    0.0                        NaN
3      524931            6535  ...    0.0                        NaN
4      521364            6529  ...    0.0                        NaN

[5 rows x 14 columns]

In [ ]:
df.drop(['Donation','Unnamed: 4','Last_Stall_Visited_Number'],axis=1,inplace=True)

In [ ]:
df['Reg_year'] = pd.DatetimeIndex(df.Registration_Date).year
df['Reg_month'] = pd.DatetimeIndex(df.Registration_Date).month
df['Reg_day'] = pd.DatetimeIndex(df.Registration_Date).day

In [ ]:
temp = pd.merge(df,patient_df,on='Patient_ID',how='left')
df=temp
temp = pd.merge(df,camp_df,on='Health_Camp_ID',how='left')
df=temp

In [ ]:
df.drop(['Patient_ID','Health_Camp_ID','Registration_Date',],axis=1,inplace=True)

In [ ]:
df.Income[df.Income=='None'] = 0
df.Education_Score[df.Education_Score=='None'] = 0
df.Age[df.Age=='None'] = 0
df.Age = df.Age.astype('int64')
df.Age[df.Age==0] = df.Age[df.Age!=0].mean()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df['fi_year'] = pd.DatetimeIndex(df.First_Interaction).year
df['fi_month'] = pd.DatetimeIndex(df.First_Interaction).month
df['fi_day'] = pd.DatetimeIndex(df.First_Interaction).day

In [ ]:
df.drop(['First_Interaction'],axis=1,inplace=True)

In [ ]:
#temp = df.City_Type[~df.City_Type.isnull()].mode()
df.City_Type = df.City_Type.replace(np.nan,'B')
df.Employer_Category = df.Employer_Category.replace(np.nan,'Technology')

In [ ]:
temp = pd.to_datetime(df.Camp_End_Date) - pd.to_datetime(df.Camp_Start_Date)
df['camp_days'] = temp.dt.days

In [ ]:
df.drop(['Camp_Start_Date', 'Camp_End_Date'],axis=1,inplace=True)
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder() 
df['City_Type']= le.fit_transform(df['City_Type']) 
df['Category1']= le.fit_transform(df['Category1']) 
df['Category2']= le.fit_transform(df['Category2']) 
df['Employer_Category']= le.fit_transform(df['Employer_Category'])

In [ ]:
#temp = df.Reg_year[~df.Reg_year.isnull()].mode() = 2006
df.Reg_year = df.Reg_year.replace(np.nan,2006)
df.Reg_month = df.Reg_month.replace(np.nan,9)
df.Reg_day = df.Reg_day.replace(np.nan,18)

In [ ]:
df['succ'] = df['succ_1'] + df['succ_2'] + df['succ_3']

In [ ]:
y_train = df['succ'][:train_df.shape[0]]
df.drop(['succ','succ_1','succ_2','succ_3'],axis=1,inplace = True)

In [ ]:
df.head()

   Var1  Var2  Var3  Var4  ...  fi_year  fi_month  fi_day  camp_days
0     4     0     0     0  ...     2004        12       6         59
1    45     5     0     0  ...     2004         9       8         59
2     0     0     0     0  ...     2004         6      22        751
3     0     0     0     0  ...     2004         2       7         17
4    15     1     0     0  ...     2003         7       4          4

[5 rows x 24 columns]

In [ ]:
df.Income = df.Income.astype('int64')
df.Education_Score = df.Education_Score.astype('float64')

In [ ]:
#for col in ['Online_Follower', 'LinkedIn_Shared', 'Twitter_Shared', 'Facebook_Shared', 'City_Type','Employer_Category','Category1','Category2','Category3']:
#    df[col] = df[col].astype('category')

In [ ]:
train = df[:train_df.shape[0]]
label = y_train
test = df[train_df.shape[0]:]
X = df[:train_df.shape[0]]
y = label
Xtest = test

In [ ]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,roc_auc_score

errxgb=[]
y_pred_tot_xgb=[]
from sklearn.model_selection import KFold,StratifiedKFold
fold=StratifiedKFold(n_splits=10,shuffle=True,random_state=1994)
i=1
for train_index, test_index in fold.split(X,y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    m=XGBClassifier(n_estimators=5000,random_state=1994,eval_metric='auc',learning_rate=0.03)
    m.fit(X_train,y_train,eval_set=[(X_train,y_train),(X_test, y_test)], early_stopping_rounds=200,verbose=200)
    preds=m.predict_proba(X_test)[:,-1]
    print("err_xgb: ",roc_auc_score(y_test,preds))
    errxgb.append(roc_auc_score(y_test,preds))
    p = m.predict_proba(Xtest)[:,-1]
    i=i+1
    y_pred_tot_xgb.append(p)

[0]	validation_0-auc:0.795577	validation_1-auc:0.796609
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.836771	validation_1-auc:0.839248
[400]	validation_0-auc:0.84592	validation_1-auc:0.84659
[600]	validation_0-auc:0.850732	validation_1-auc:0.850471
[800]	validation_0-auc:0.853695	validation_1-auc:0.852206
[1000]	validation_0-auc:0.855981	validation_1-auc:0.853308
[1200]	validation_0-auc:0.858101	validation_1-auc:0.854076
[1400]	validation_0-auc:0.860037	validation_1-auc:0.855019
[1600]	validation_0-auc:0.861503	validation_1-auc:0.855421
[1800]	validation_0-auc:0.862853	validation_1-auc:0.855976
[2000]	validation_0-auc:0.864132	validation_1-auc:0.856584
[2200]	validation_0-auc:0.865295	validation_1-auc:0.856984
[2400]	validation_0-auc:0.866576	validation_1-auc:0.85777
[2600]	validation_0-auc:0.86758	validation_1-auc:0.858046
[2800]	validation_0-auc:0.8686	validation_1-auc:0.858223
[3000]	validation_0-auc:0.869718	validation_1-auc:0.858588
[3200]	validation_0-auc:0.870663	validation_1-auc:0.858974
[3400]	validation_0-auc:0.871473	validation_1-auc:0.859198
[3600]	validation_0-auc:0.87229	validation_1-auc:0.859298
[3800]	validation_0-auc:0.873061	validation_1-auc:0.859459
[4000]	validation_0-auc:0.873743	validation_1-auc:0.859641
[4200]	validation_0-auc:0.874502	validation_1-auc:0.859674
[4400]	validation_0-auc:0.875186	validation_1-auc:0.859773
[4600]	validation_0-auc:0.875892	validation_1-auc:0.859921
[4800]	validation_0-auc:0.876554	validation_1-auc:0.860041
[4999]	validation_0-auc:0.877177	validation_1-auc:0.860134
err_xgb:  0.8601343378043822
[0]	validation_0-auc:0.796562	validation_1-auc:0.787658
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.836064	validation_1-auc:0.827458
[400]	validation_0-auc:0.846848	validation_1-auc:0.837878
[600]	validation_0-auc:0.852145	validation_1-auc:0.842539
[800]	validation_0-auc:0.854972	validation_1-auc:0.844446
[1000]	validation_0-auc:0.85733	validation_1-auc:0.846091
[1200]	validation_0-auc:0.859347	validation_1-auc:0.847283
[1400]	validation_0-auc:0.861109	validation_1-auc:0.84828
[1600]	validation_0-auc:0.862561	validation_1-auc:0.848992
[1800]	validation_0-auc:0.863861	validation_1-auc:0.849531
[2000]	validation_0-auc:0.865243	validation_1-auc:0.850253
[2200]	validation_0-auc:0.866373	validation_1-auc:0.850817
[2400]	validation_0-auc:0.867481	validation_1-auc:0.851343
[2600]	validation_0-auc:0.868474	validation_1-auc:0.851654
[2800]	validation_0-auc:0.869359	validation_1-auc:0.851885
[3000]	validation_0-auc:0.870233	validation_1-auc:0.852233
[3200]	validation_0-auc:0.871137	validation_1-auc:0.852645
[3400]	validation_0-auc:0.871901	validation_1-auc:0.852876
[3600]	validation_0-auc:0.87273	validation_1-auc:0.85309
[3800]	validation_0-auc:0.873475	validation_1-auc:0.853328
[4000]	validation_0-auc:0.874335	validation_1-auc:0.853538
[4200]	validation_0-auc:0.875251	validation_1-auc:0.853897
[4400]	validation_0-auc:0.87604	validation_1-auc:0.854005
Stopping. Best iteration:
[4359]	validation_0-auc:0.87588	validation_1-auc:0.854065

err_xgb:  0.8540647493915647
[0]	validation_0-auc:0.795384	validation_1-auc:0.798335
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.835752	validation_1-auc:0.834047
[400]	validation_0-auc:0.846581	validation_1-auc:0.844689
[600]	validation_0-auc:0.850972	validation_1-auc:0.84797
[800]	validation_0-auc:0.85426	validation_1-auc:0.850133
[1000]	validation_0-auc:0.856765	validation_1-auc:0.851409
[1200]	validation_0-auc:0.858547	validation_1-auc:0.852215
[1400]	validation_0-auc:0.860314	validation_1-auc:0.852891
[1600]	validation_0-auc:0.861641	validation_1-auc:0.853303
[1800]	validation_0-auc:0.863173	validation_1-auc:0.85404
[2000]	validation_0-auc:0.86452	validation_1-auc:0.854795
[2200]	validation_0-auc:0.865734	validation_1-auc:0.855212
[2400]	validation_0-auc:0.866967	validation_1-auc:0.855827
[2600]	validation_0-auc:0.868019	validation_1-auc:0.856151
[2800]	validation_0-auc:0.868967	validation_1-auc:0.856471
[3000]	validation_0-auc:0.869888	validation_1-auc:0.856818
[3200]	validation_0-auc:0.870729	validation_1-auc:0.857047
[3400]	validation_0-auc:0.871525	validation_1-auc:0.85717
[3600]	validation_0-auc:0.872337	validation_1-auc:0.857329
[3800]	validation_0-auc:0.873071	validation_1-auc:0.857553
[4000]	validation_0-auc:0.874021	validation_1-auc:0.85784
[4200]	validation_0-auc:0.874837	validation_1-auc:0.858059
[4400]	validation_0-auc:0.875666	validation_1-auc:0.85818
[4600]	validation_0-auc:0.876301	validation_1-auc:0.858337
[4800]	validation_0-auc:0.877003	validation_1-auc:0.858505
[4999]	validation_0-auc:0.877589	validation_1-auc:0.858786
err_xgb:  0.8587881937415751
[0]	validation_0-auc:0.796617	validation_1-auc:0.787225
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.836676	validation_1-auc:0.823721
[400]	validation_0-auc:0.847601	validation_1-auc:0.833887
[600]	validation_0-auc:0.852138	validation_1-auc:0.837316
[800]	validation_0-auc:0.855642	validation_1-auc:0.840777
[1000]	validation_0-auc:0.857983	validation_1-auc:0.842425
[1200]	validation_0-auc:0.859955	validation_1-auc:0.843698
[1400]	validation_0-auc:0.861701	validation_1-auc:0.844517
[1600]	validation_0-auc:0.863204	validation_1-auc:0.84535
[1800]	validation_0-auc:0.864446	validation_1-auc:0.845888
[2000]	validation_0-auc:0.865637	validation_1-auc:0.846487
[2200]	validation_0-auc:0.866834	validation_1-auc:0.847024
[2400]	validation_0-auc:0.867961	validation_1-auc:0.847415
[2600]	validation_0-auc:0.868949	validation_1-auc:0.847691
[2800]	validation_0-auc:0.869933	validation_1-auc:0.848197
[3000]	validation_0-auc:0.870891	validation_1-auc:0.848807
[3200]	validation_0-auc:0.871831	validation_1-auc:0.849376
[3400]	validation_0-auc:0.872632	validation_1-auc:0.849798
[3600]	validation_0-auc:0.873329	validation_1-auc:0.849938
[3800]	validation_0-auc:0.873996	validation_1-auc:0.850044
[4000]	validation_0-auc:0.874717	validation_1-auc:0.850277
[4200]	validation_0-auc:0.875338	validation_1-auc:0.8505
[4400]	validation_0-auc:0.876228	validation_1-auc:0.850805
[4600]	validation_0-auc:0.877001	validation_1-auc:0.85114
[4800]	validation_0-auc:0.87778	validation_1-auc:0.851222
[4999]	validation_0-auc:0.878495	validation_1-auc:0.851406
err_xgb:  0.8514095045748709
[0]	validation_0-auc:0.795816	validation_1-auc:0.793673
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.836212	validation_1-auc:0.833279
[400]	validation_0-auc:0.846249	validation_1-auc:0.842315
[600]	validation_0-auc:0.851429	validation_1-auc:0.846782
[800]	validation_0-auc:0.854803	validation_1-auc:0.849094
[1000]	validation_0-auc:0.857242	validation_1-auc:0.850779
[1200]	validation_0-auc:0.858994	validation_1-auc:0.851505
[1400]	validation_0-auc:0.860591	validation_1-auc:0.852202
[1600]	validation_0-auc:0.862203	validation_1-auc:0.852635
[1800]	validation_0-auc:0.86366	validation_1-auc:0.85303
[2000]	validation_0-auc:0.864943	validation_1-auc:0.853404
[2200]	validation_0-auc:0.86623	validation_1-auc:0.853807
[2400]	validation_0-auc:0.867362	validation_1-auc:0.854247
[2600]	validation_0-auc:0.868307	validation_1-auc:0.854573
[2800]	validation_0-auc:0.869244	validation_1-auc:0.854995
[3000]	validation_0-auc:0.870245	validation_1-auc:0.85544
[3200]	validation_0-auc:0.871204	validation_1-auc:0.855951
[3400]	validation_0-auc:0.872112	validation_1-auc:0.85617
[3600]	validation_0-auc:0.872938	validation_1-auc:0.856384
[3800]	validation_0-auc:0.873694	validation_1-auc:0.856651
[4000]	validation_0-auc:0.874466	validation_1-auc:0.856952
[4200]	validation_0-auc:0.875031	validation_1-auc:0.857089
[4400]	validation_0-auc:0.875619	validation_1-auc:0.857324
[4600]	validation_0-auc:0.876189	validation_1-auc:0.857456
[4800]	validation_0-auc:0.876767	validation_1-auc:0.857506
[4999]	validation_0-auc:0.877462	validation_1-auc:0.857766
err_xgb:  0.8577662714326066
[0]	validation_0-auc:0.795475	validation_1-auc:0.797543
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.836272	validation_1-auc:0.834543
[400]	validation_0-auc:0.846348	validation_1-auc:0.843365
[600]	validation_0-auc:0.851317	validation_1-auc:0.846691
[800]	validation_0-auc:0.854484	validation_1-auc:0.848891
[1000]	validation_0-auc:0.85667	validation_1-auc:0.850395
[1200]	validation_0-auc:0.858672	validation_1-auc:0.851533
[1400]	validation_0-auc:0.860351	validation_1-auc:0.852401
[1600]	validation_0-auc:0.861801	validation_1-auc:0.852987
[1800]	validation_0-auc:0.862984	validation_1-auc:0.853176
[2000]	validation_0-auc:0.864307	validation_1-auc:0.853585
[2200]	validation_0-auc:0.865559	validation_1-auc:0.854112
[2400]	validation_0-auc:0.866646	validation_1-auc:0.854466
[2600]	validation_0-auc:0.867574	validation_1-auc:0.854694
[2800]	validation_0-auc:0.868556	validation_1-auc:0.855144
[3000]	validation_0-auc:0.869498	validation_1-auc:0.855456
[3200]	validation_0-auc:0.870494	validation_1-auc:0.855562
Stopping. Best iteration:
[3113]	validation_0-auc:0.870158	validation_1-auc:0.855682

err_xgb:  0.8556821401802017
[0]	validation_0-auc:0.795991	validation_1-auc:0.792877
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.837179	validation_1-auc:0.833693
[400]	validation_0-auc:0.846592	validation_1-auc:0.841119
[600]	validation_0-auc:0.851619	validation_1-auc:0.844635
[800]	validation_0-auc:0.854832	validation_1-auc:0.846562
[1000]	validation_0-auc:0.856954	validation_1-auc:0.847615
[1200]	validation_0-auc:0.858622	validation_1-auc:0.84811
[1400]	validation_0-auc:0.860248	validation_1-auc:0.848767
[1600]	validation_0-auc:0.861898	validation_1-auc:0.849615
[1800]	validation_0-auc:0.863277	validation_1-auc:0.850296
[2000]	validation_0-auc:0.864523	validation_1-auc:0.851049
[2200]	validation_0-auc:0.865648	validation_1-auc:0.851543
[2400]	validation_0-auc:0.866814	validation_1-auc:0.851837
[2600]	validation_0-auc:0.867966	validation_1-auc:0.852212
[2800]	validation_0-auc:0.868869	validation_1-auc:0.852517
[3000]	validation_0-auc:0.86987	validation_1-auc:0.852648
[3200]	validation_0-auc:0.87104	validation_1-auc:0.852831
[3400]	validation_0-auc:0.871942	validation_1-auc:0.853182
[3600]	validation_0-auc:0.872751	validation_1-auc:0.853461
[3800]	validation_0-auc:0.873575	validation_1-auc:0.85379
[4000]	validation_0-auc:0.874434	validation_1-auc:0.854137
[4200]	validation_0-auc:0.875121	validation_1-auc:0.854277
[4400]	validation_0-auc:0.87567	validation_1-auc:0.854455
[4600]	validation_0-auc:0.876315	validation_1-auc:0.854787
[4800]	validation_0-auc:0.877052	validation_1-auc:0.855135
[4999]	validation_0-auc:0.877667	validation_1-auc:0.855404
err_xgb:  0.8554077672278234
[0]	validation_0-auc:0.795427	validation_1-auc:0.79799
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.836038	validation_1-auc:0.834615
[400]	validation_0-auc:0.846192	validation_1-auc:0.843512
[600]	validation_0-auc:0.851287	validation_1-auc:0.847586
[800]	validation_0-auc:0.854626	validation_1-auc:0.849957
[1000]	validation_0-auc:0.85655	validation_1-auc:0.850883
[1200]	validation_0-auc:0.858302	validation_1-auc:0.851757
[1400]	validation_0-auc:0.859906	validation_1-auc:0.852483
[1600]	validation_0-auc:0.861242	validation_1-auc:0.853184
[1800]	validation_0-auc:0.862565	validation_1-auc:0.85388
[2000]	validation_0-auc:0.863802	validation_1-auc:0.854282
[2200]	validation_0-auc:0.865281	validation_1-auc:0.855205
[2400]	validation_0-auc:0.866476	validation_1-auc:0.855828
[2600]	validation_0-auc:0.867424	validation_1-auc:0.856427
[2800]	validation_0-auc:0.868368	validation_1-auc:0.856944
[3000]	validation_0-auc:0.869481	validation_1-auc:0.857444
[3200]	validation_0-auc:0.870459	validation_1-auc:0.857931
[3400]	validation_0-auc:0.871277	validation_1-auc:0.858277
[3600]	validation_0-auc:0.871969	validation_1-auc:0.858454
[3800]	validation_0-auc:0.872855	validation_1-auc:0.858669
[4000]	validation_0-auc:0.873722	validation_1-auc:0.859049
[4200]	validation_0-auc:0.874512	validation_1-auc:0.859285
[4400]	validation_0-auc:0.875108	validation_1-auc:0.859511
[4600]	validation_0-auc:0.875842	validation_1-auc:0.859842
[4800]	validation_0-auc:0.876499	validation_1-auc:0.860069
[4999]	validation_0-auc:0.877145	validation_1-auc:0.860388
err_xgb:  0.8603888729490421
[0]	validation_0-auc:0.795657	validation_1-auc:0.7958
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.836557	validation_1-auc:0.837414
[400]	validation_0-auc:0.846033	validation_1-auc:0.846294
[600]	validation_0-auc:0.850829	validation_1-auc:0.850359
[800]	validation_0-auc:0.854248	validation_1-auc:0.852564
[1000]	validation_0-auc:0.856591	validation_1-auc:0.854061
[1200]	validation_0-auc:0.85836	validation_1-auc:0.855166
[1400]	validation_0-auc:0.859917	validation_1-auc:0.855946
[1600]	validation_0-auc:0.861282	validation_1-auc:0.856429
[1800]	validation_0-auc:0.862701	validation_1-auc:0.857218
[2000]	validation_0-auc:0.864107	validation_1-auc:0.857819
[2200]	validation_0-auc:0.86523	validation_1-auc:0.858198
[2400]	validation_0-auc:0.866236	validation_1-auc:0.858525
[2600]	validation_0-auc:0.867269	validation_1-auc:0.858752
[2800]	validation_0-auc:0.868382	validation_1-auc:0.85908
[3000]	validation_0-auc:0.869398	validation_1-auc:0.859483
[3200]	validation_0-auc:0.870362	validation_1-auc:0.859848
[3400]	validation_0-auc:0.871117	validation_1-auc:0.860091
[3600]	validation_0-auc:0.871853	validation_1-auc:0.860337
[3800]	validation_0-auc:0.87257	validation_1-auc:0.860586
[4000]	validation_0-auc:0.873421	validation_1-auc:0.860678
[4200]	validation_0-auc:0.874261	validation_1-auc:0.861146
[4400]	validation_0-auc:0.875026	validation_1-auc:0.86152
[4600]	validation_0-auc:0.875747	validation_1-auc:0.861836
[4800]	validation_0-auc:0.876391	validation_1-auc:0.862077
[4999]	validation_0-auc:0.876999	validation_1-auc:0.862208
err_xgb:  0.862214700997195
[0]	validation_0-auc:0.794279	validation_1-auc:0.808278
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.83415	validation_1-auc:0.843621
[400]	validation_0-auc:0.845548	validation_1-auc:0.852277
[600]	validation_0-auc:0.85036	validation_1-auc:0.855661
[800]	validation_0-auc:0.854114	validation_1-auc:0.857814
[1000]	validation_0-auc:0.856565	validation_1-auc:0.858737
[1200]	validation_0-auc:0.858289	validation_1-auc:0.859224
[1400]	validation_0-auc:0.859816	validation_1-auc:0.859753
[1600]	validation_0-auc:0.861146	validation_1-auc:0.860061
[1800]	validation_0-auc:0.862388	validation_1-auc:0.860413
[2000]	validation_0-auc:0.863788	validation_1-auc:0.86096
[2200]	validation_0-auc:0.864978	validation_1-auc:0.861342
[2400]	validation_0-auc:0.866077	validation_1-auc:0.861683
[2600]	validation_0-auc:0.867026	validation_1-auc:0.861739
[2800]	validation_0-auc:0.868028	validation_1-auc:0.861956
[3000]	validation_0-auc:0.869169	validation_1-auc:0.862546
[3200]	validation_0-auc:0.870093	validation_1-auc:0.862903
[3400]	validation_0-auc:0.870954	validation_1-auc:0.862992
[3600]	validation_0-auc:0.871771	validation_1-auc:0.863248
[3800]	validation_0-auc:0.872612	validation_1-auc:0.863414
[4000]	validation_0-auc:0.873385	validation_1-auc:0.863475
[4200]	validation_0-auc:0.874133	validation_1-auc:0.863543
Stopping. Best iteration:
[4169]	validation_0-auc:0.874041	validation_1-auc:0.863573

err_xgb:  0.8635732019994088

In [ ]:
np.mean(errxgb,0)

0.857942974029867

In [ ]:
'''print(X.shape,Xtest.shape)
from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val = train_test_split(X,y,test_size=0.25,random_state = 1994,stratify=y)
categorical_features_indices = np.where(X_train.dtypes =='category')[0]
categorical_features_indices'''

"print(X.shape,Xtest.shape)\nfrom sklearn.model_selection import train_test_split\nX_train,X_val,y_train,y_val = train_test_split(X,y,test_size=0.25,random_state = 1994,stratify=y)\ncategorical_features_indices = np.where(X_train.dtypes =='category')[0]\ncategorical_features_indices"

In [ ]:
sub_df = pd.DataFrame(test_df)
sub_df["Outcome"] = np.mean(y_pred_tot_xgb,0)
sub_final_df = test_df[['Patient_ID','Health_Camp_ID','Outcome']]
sub_final_df.head()

   Patient_ID  Health_Camp_ID   Outcome
0      505701            6548  0.652287
1      500633            6584  0.657896
2      506945            6582  0.073828
3      497447            6551  0.709707
4      496446            6533  0.049048

In [ ]:
sub_final_df.to_csv("submission.csv", index=False)

In [ ]:
from google.colab import files
files.download('submission.csv')