<a href="https://colab.research.google.com/github/sornavel/Hackathons-Janatahack/blob/master/Healthcare_LGBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install PyDrive

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.12.0)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.17.2)
Requirement already satisfied: httplib2<1dev,>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.17.4)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.4)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.6)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (4.1.1)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (49.1.0)

In [ ]:
import os
import pandas as pd
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
np.random.seed(0)
from tqdm import tqdm, tqdm_notebook
tqdm.pandas()
from IPython.core.display import HTML 
from IPython.display import Image
import gc
from keras.applications.densenet import preprocess_input, DenseNet121
from keras.models import Model
from keras.layers import GlobalAveragePooling2D, Input, Lambda, AveragePooling1D
import keras.backend as K

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
download = drive.CreateFile({'id': '1FUu6ZyHdGB_ElcE4ZuwzPAh-DbQ7mAwQ'})
download.GetContentFile('train.csv')
train_df = pd.read_csv('train.csv')

download = drive.CreateFile({'id': '1vE_M60f3HJ4R1GSFl3QjHWzuwEIcVrmd'})
download.GetContentFile('Third_Health_Camp_Attended.csv')
third_df = pd.read_csv('Third_Health_Camp_Attended.csv')

download = drive.CreateFile({'id': '1hnoPLF_uC4hrpCcSFmGJ1UxLog7grgrl'})
download.GetContentFile('Second_Health_Camp_Attended.csv')
second_df = pd.read_csv('Second_Health_Camp_Attended.csv')

download = drive.CreateFile({'id': '1LMzFdyra4gObQctf5h0lb6DtUnqiLBT3'})
download.GetContentFile('First_Health_Camp_Attended.csv')
first_df = pd.read_csv('First_Health_Camp_Attended.csv')

download = drive.CreateFile({'id': '16JMb9xNz5BEMlV9dS7reh9yi8ivGHYT2'})
download.GetContentFile('Patient_Profile.csv')
patient_df = pd.read_csv('Patient_Profile.csv')

download = drive.CreateFile({'id': '16AFNM3SlDDRMpEAdq4ssddK5QwoH9S33'})
download.GetContentFile('Health_Camp_Detail.csv')
camp_df = pd.read_csv('Health_Camp_Detail.csv')

download = drive.CreateFile({'id': '1aQqKgHFJ0M5j-V34G_TZgOIi2xc6GnaA'})
download.GetContentFile('test.csv')
test_df = pd.read_csv('test.csv')

In [ ]:
train_df.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0
3      524931            6535         07-Feb-04     0     0     0     0     0
4      521364            6529         28-Feb-06    15     1     0     0     7

In [ ]:
first_df.head()

   Patient_ID  Health_Camp_ID  Donation  Health_Score  Unnamed: 4
0      506181            6560        40      0.439024         NaN
1      494977            6560        20      0.097561         NaN
2      518680            6560        10      0.048780         NaN
3      509916            6560        30      0.634146         NaN
4      488006            6560        20      0.024390         NaN

In [ ]:
second_df.head()

   Patient_ID  Health_Camp_ID  Health Score
0      526631            6536      0.875136
1      509122            6536      0.755700
2      498864            6536      0.673181
3      515398            6536      0.722041
4      504624            6536      0.464712

In [ ]:
third_df.head()

   Patient_ID  ...  Last_Stall_Visited_Number
0      517875  ...                          1
1      504692  ...                          1
2      504692  ...                          1
3      493167  ...                          4
4      510954  ...                          2

[5 rows x 4 columns]

In [ ]:
patient_df.head()

   Patient_ID  Online_Follower  ...  City_Type  Employer_Category
0      516956                0  ...        NaN  Software Industry
1      507733                0  ...          H  Software Industry
2      508307                0  ...          D               BFSI
3      512612                0  ...          D          Education
4      521075                0  ...          H             Others

[5 rows x 11 columns]

In [ ]:
camp_df.head()

   Health_Camp_ID Camp_Start_Date Camp_End_Date Category1 Category2  Category3
0            6560       16-Aug-03     20-Aug-03     First         B          2
1            6530       16-Aug-03     28-Oct-03     First         C          2
2            6544       03-Nov-03     15-Nov-03     First         F          1
3            6585       22-Nov-03     05-Dec-03     First         E          2
4            6561       30-Nov-03     18-Dec-03     First         E          1

In [ ]:
test_df.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      505701            6548         21-May-06     1     0     0     0     2
1      500633            6584         02-Jun-06     0     0     0     0     0
2      506945            6582         10-Aug-06     0     0     0     0     0
3      497447            6551         27-Aug-06     0     0     0     0     0
4      496446            6533         19-Sep-06     0     0     0     0     0

In [ ]:
third_df_filtered = third_df[third_df.Number_of_stall_visited!=0]

In [ ]:
df = pd.concat([train_df,test_df],axis=0)
df.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0
3      524931            6535         07-Feb-04     0     0     0     0     0
4      521364            6529         28-Feb-06    15     1     0     0     7

In [ ]:
temp = pd.merge(df,first_df,how='left', on=['Patient_ID','Health_Camp_ID'])
temp.Health_Score.loc[~temp.Health_Score.isnull()] = 1
temp.Health_Score.loc[temp.Health_Score.isnull()] = 0
df = temp.rename(columns={'Health_Score':'succ_1'})

temp = pd.merge(df,second_df,how='left', on=['Patient_ID','Health_Camp_ID'])
temp['Health Score'].loc[~temp['Health Score'].isnull()] = 1
temp['Health Score'].loc[temp['Health Score'].isnull()] = 0
df = temp.rename(columns={'Health Score':'succ_2'})

temp = pd.merge(df,third_df_filtered,how='left', on=['Patient_ID','Health_Camp_ID'])
temp['Number_of_stall_visited'].loc[~temp['Number_of_stall_visited'].isnull()] = 1
temp['Number_of_stall_visited'].loc[temp['Number_of_stall_visited'].isnull()] = 0
df = temp.rename(columns={'Number_of_stall_visited':'succ_3'})
df.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

   Patient_ID  Health_Camp_ID  ... succ_3  Last_Stall_Visited_Number
0      489652            6578  ...    1.0                        1.0
1      507246            6578  ...    0.0                        NaN
2      523729            6534  ...    0.0                        NaN
3      524931            6535  ...    0.0                        NaN
4      521364            6529  ...    0.0                        NaN

[5 rows x 14 columns]

In [ ]:
df.drop(['Donation','Unnamed: 4','Last_Stall_Visited_Number'],axis=1,inplace=True)

In [ ]:
df['Reg_year'] = pd.DatetimeIndex(df.Registration_Date).year
df['Reg_month'] = pd.DatetimeIndex(df.Registration_Date).month
df['Reg_day'] = pd.DatetimeIndex(df.Registration_Date).day

In [ ]:
temp = pd.merge(df,patient_df,on='Patient_ID',how='left')
df=temp
temp = pd.merge(df,camp_df,on='Health_Camp_ID',how='left')
df=temp

In [ ]:
df.drop(['Patient_ID','Health_Camp_ID','Registration_Date',],axis=1,inplace=True)

In [ ]:
df.Income[df.Income=='None'] = 0
df.Education_Score[df.Education_Score=='None'] = 0
df.Age[df.Age=='None'] = 0
df.Age = df.Age.astype('int64')
df.Age[df.Age==0] = df.Age[df.Age!=0].mean()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df['fi_year'] = pd.DatetimeIndex(df.First_Interaction).year
df['fi_month'] = pd.DatetimeIndex(df.First_Interaction).month
df['fi_day'] = pd.DatetimeIndex(df.First_Interaction).day

In [ ]:
df.drop(['First_Interaction'],axis=1,inplace=True)

In [ ]:
#temp = df.City_Type[~df.City_Type.isnull()].mode()
df.City_Type = df.City_Type.replace(np.nan,'B')
df.Employer_Category = df.Employer_Category.replace(np.nan,'Technology')

In [ ]:
temp = pd.to_datetime(df.Camp_End_Date) - pd.to_datetime(df.Camp_Start_Date)
df['camp_days'] = temp.dt.days

In [ ]:
df.drop(['Camp_Start_Date', 'Camp_End_Date'],axis=1,inplace=True)
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder() 
df['City_Type']= le.fit_transform(df['City_Type']) 
df['Category1']= le.fit_transform(df['Category1']) 
df['Category2']= le.fit_transform(df['Category2']) 
df['Employer_Category']= le.fit_transform(df['Employer_Category'])

In [ ]:
#temp = df.Reg_year[~df.Reg_year.isnull()].mode() = 2006
df.Reg_year = df.Reg_year.replace(np.nan,2006)
df.Reg_month = df.Reg_month.replace(np.nan,9)
df.Reg_day = df.Reg_day.replace(np.nan,18)

In [ ]:
df['succ'] = df['succ_1'] + df['succ_2'] + df['succ_3']

In [ ]:
y_train = df['succ'][:train_df.shape[0]]
df.drop(['succ','succ_1','succ_2','succ_3'],axis=1,inplace = True)

In [ ]:
df.head()

   Var1  Var2  Var3  Var4  ...  fi_year  fi_month  fi_day  camp_days
0     4     0     0     0  ...     2004        12       6         59
1    45     5     0     0  ...     2004         9       8         59
2     0     0     0     0  ...     2004         6      22        751
3     0     0     0     0  ...     2004         2       7         17
4    15     1     0     0  ...     2003         7       4          4

[5 rows x 24 columns]

In [ ]:
df.Income = df.Income.astype('int64')
df.Education_Score = df.Education_Score.astype('float64')

In [ ]:
from sklearn.model_selection import train_test_split
train = df[:train_df.shape[0]]
label = y_train
test = df[train_df.shape[0]:]
X_train,X_val,y_train,y_val = train_test_split(train,y_train,test_size=0.3,random_state = 1994,stratify=y_train)

In [ ]:
import lightgbm as gbm 
from lightgbm import *
m=LGBMClassifier(n_estimators=1500,random_state=1994,learning_rate=0.03,reg_alpha=0.2,colsample_bytree=0.5,bagging_fraction=0.9)
# m=RidgeCV(cv=4)
m.fit(X_train,y_train,eval_set=[(X_train,y_train),(X_val, y_val.values)],eval_metric='auc', early_stopping_rounds=100,verbose=200)
p=m.predict_proba(X_val)[:,-1]

from sklearn.metrics import accuracy_score,confusion_matrix,roc_auc_score
print(roc_auc_score(y_val,p))

Training until validation scores don't improve for 100 rounds.
[200]	training's binary_logloss: 0.398499	training's auc: 0.865976	valid_1's binary_logloss: 0.408856	valid_1's auc: 0.85526
[400]	training's binary_logloss: 0.383404	training's auc: 0.877529	valid_1's binary_logloss: 0.403631	valid_1's auc: 0.858941
[600]	training's binary_logloss: 0.371912	training's auc: 0.886284	valid_1's binary_logloss: 0.401036	valid_1's auc: 0.860899
[800]	training's binary_logloss: 0.362115	training's auc: 0.893354	valid_1's binary_logloss: 0.399442	valid_1's auc: 0.86207
[1000]	training's binary_logloss: 0.353049	training's auc: 0.89972	valid_1's binary_logloss: 0.398295	valid_1's auc: 0.863018
[1200]	training's binary_logloss: 0.344944	training's auc: 0.905186	valid_1's binary_logloss: 0.397284	valid_1's auc: 0.863734
[1400]	training's binary_logloss: 0.337338	training's auc: 0.91026	valid_1's binary_logloss: 0.396402	valid_1's auc: 0.864407
Did not meet early stopping. Best iteration is:
[1500]	training's binary_logloss: 0.333857	training's auc: 0.912494	valid_1's binary_logloss: 0.396237	valid_1's auc: 0.864517
0.8645167024737319

In [ ]:
m.feature_importances_

array([2008,  686,    0,  243, 1092, 1447, 4358, 4957,  215,  379,  232,
        231, 1655, 2705, 3915, 2946, 1950,  887, 2013,   93, 1694, 3424,
       4161, 3709])

In [ ]:
confusion_matrix(y_val,p>0.5)

array([[14948,  1476],
       [ 2412,  3748]])

In [ ]:
sorted(zip(m.feature_importances_,X_train),reverse=True)

[(4957, 'Reg_day'),
 (4358, 'Reg_month'),
 (4161, 'fi_day'),
 (3915, 'Age'),
 (3709, 'camp_days'),
 (3424, 'fi_month'),
 (2946, 'City_Type'),
 (2705, 'Education_Score'),
 (2013, 'Category2'),
 (2008, 'Var1'),
 (1950, 'Employer_Category'),
 (1694, 'fi_year'),
 (1655, 'Income'),
 (1447, 'Reg_year'),
 (1092, 'Var5'),
 (887, 'Category1'),
 (686, 'Var2'),
 (379, 'LinkedIn_Shared'),
 (243, 'Var4'),
 (232, 'Twitter_Shared'),
 (231, 'Facebook_Shared'),
 (215, 'Online_Follower'),
 (93, 'Category3'),
 (0, 'Var3')]

In [ ]:
err=[]
y_pred_tot=[]

feature_importance_df = pd.DataFrame()
X = df[:train_df.shape[0]]
y = label

from sklearn.model_selection import KFold,StratifiedKFold
fold=StratifiedKFold(n_splits=10,shuffle=True,random_state=1994)
i=1
for train_index, test_index in fold.split(X,y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    m=LGBMClassifier(n_estimators=5000,random_state=1994,learning_rate=0.03,reg_alpha=0.2,colsample_bytree=0.5)
    m.fit(X_train,y_train,eval_set=[(X_train,y_train),(X_test, y_test)],eval_metric='auc', early_stopping_rounds=200,verbose=200)
    
    preds=m.predict_proba(X_test,num_iteration=m.best_iteration_)[:,-1]
    
    fold_importance_df = pd.DataFrame()
    fold_importance_df["feature"] = X_train.columns
    fold_importance_df["importance"] = m.feature_importances_
    fold_importance_df["fold"] = i + 1
    feature_importance_df = pd.concat([feature_importance_df, fold_importance_df], axis=0)
    
    
    print("err: ",roc_auc_score(y_test,preds))
    err.append(roc_auc_score(y_test,preds))
    p = m.predict_proba(test)[:,-1]
    i=i+1
    y_pred_tot.append(p)

Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.400721	training's auc: 0.86359	valid_1's binary_logloss: 0.406856	valid_1's auc: 0.858657
[400]	training's binary_logloss: 0.386117	training's auc: 0.874723	valid_1's binary_logloss: 0.401007	valid_1's auc: 0.862679
[600]	training's binary_logloss: 0.375468	training's auc: 0.882781	valid_1's binary_logloss: 0.398043	valid_1's auc: 0.865038
[800]	training's binary_logloss: 0.36635	training's auc: 0.889642	valid_1's binary_logloss: 0.395895	valid_1's auc: 0.866788
[1000]	training's binary_logloss: 0.35829	training's auc: 0.895445	valid_1's binary_logloss: 0.394514	valid_1's auc: 0.867857
[1200]	training's binary_logloss: 0.35135	training's auc: 0.90025	valid_1's binary_logloss: 0.393725	valid_1's auc: 0.868463
[1400]	training's binary_logloss: 0.344989	training's auc: 0.90458	valid_1's binary_logloss: 0.393276	valid_1's auc: 0.868907
[1600]	training's binary_logloss: 0.338448	training's auc: 0.908847	valid_1's binary_logloss: 0.392145	valid_1's auc: 0.869786
[1800]	training's binary_logloss: 0.332809	training's auc: 0.912455	valid_1's binary_logloss: 0.391751	valid_1's auc: 0.870108
[2000]	training's binary_logloss: 0.327677	training's auc: 0.915697	valid_1's binary_logloss: 0.391615	valid_1's auc: 0.870141
[2200]	training's binary_logloss: 0.322526	training's auc: 0.918907	valid_1's binary_logloss: 0.390908	valid_1's auc: 0.870672
[2400]	training's binary_logloss: 0.317849	training's auc: 0.921755	valid_1's binary_logloss: 0.390242	valid_1's auc: 0.871117
[2600]	training's binary_logloss: 0.313425	training's auc: 0.92441	valid_1's binary_logloss: 0.389902	valid_1's auc: 0.871337
[2800]	training's binary_logloss: 0.308953	training's auc: 0.927112	valid_1's binary_logloss: 0.389643	valid_1's auc: 0.871475
[3000]	training's binary_logloss: 0.304833	training's auc: 0.9295	valid_1's binary_logloss: 0.389507	valid_1's auc: 0.871562
[3200]	training's binary_logloss: 0.301	training's auc: 0.931639	valid_1's binary_logloss: 0.389575	valid_1's auc: 0.87157
[3400]	training's binary_logloss: 0.297004	training's auc: 0.933873	valid_1's binary_logloss: 0.389573	valid_1's auc: 0.871603
Early stopping, best iteration is:
[3341]	training's binary_logloss: 0.298178	training's auc: 0.933208	valid_1's binary_logloss: 0.389392	valid_1's auc: 0.871703
err:  0.8717029231573243
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.399718	training's auc: 0.864391	valid_1's binary_logloss: 0.412536	valid_1's auc: 0.851349
[400]	training's binary_logloss: 0.385343	training's auc: 0.875434	valid_1's binary_logloss: 0.406795	valid_1's auc: 0.85572
[600]	training's binary_logloss: 0.37467	training's auc: 0.883506	valid_1's binary_logloss: 0.403554	valid_1's auc: 0.858327
[800]	training's binary_logloss: 0.365773	training's auc: 0.890206	valid_1's binary_logloss: 0.401567	valid_1's auc: 0.85989
[1000]	training's binary_logloss: 0.358003	training's auc: 0.895805	valid_1's binary_logloss: 0.400091	valid_1's auc: 0.861041
[1200]	training's binary_logloss: 0.350985	training's auc: 0.90068	valid_1's binary_logloss: 0.399076	valid_1's auc: 0.861828
[1400]	training's binary_logloss: 0.344652	training's auc: 0.904962	valid_1's binary_logloss: 0.398389	valid_1's auc: 0.862314
[1600]	training's binary_logloss: 0.338773	training's auc: 0.908809	valid_1's binary_logloss: 0.398019	valid_1's auc: 0.862577
[1800]	training's binary_logloss: 0.332902	training's auc: 0.91251	valid_1's binary_logloss: 0.397066	valid_1's auc: 0.863299
[2000]	training's binary_logloss: 0.327795	training's auc: 0.915714	valid_1's binary_logloss: 0.396929	valid_1's auc: 0.86351
[2200]	training's binary_logloss: 0.322892	training's auc: 0.918808	valid_1's binary_logloss: 0.396282	valid_1's auc: 0.864129
[2400]	training's binary_logloss: 0.318295	training's auc: 0.921611	valid_1's binary_logloss: 0.396143	valid_1's auc: 0.86429
Early stopping, best iteration is:
[2390]	training's binary_logloss: 0.3185	training's auc: 0.921489	valid_1's binary_logloss: 0.396087	valid_1's auc: 0.864317
err:  0.8643171632990015
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.400383	training's auc: 0.864052	valid_1's binary_logloss: 0.407466	valid_1's auc: 0.85676
[400]	training's binary_logloss: 0.385969	training's auc: 0.875253	valid_1's binary_logloss: 0.400924	valid_1's auc: 0.861498
[600]	training's binary_logloss: 0.375598	training's auc: 0.883096	valid_1's binary_logloss: 0.397502	valid_1's auc: 0.864075
[800]	training's binary_logloss: 0.366758	training's auc: 0.889477	valid_1's binary_logloss: 0.395194	valid_1's auc: 0.865754
[1000]	training's binary_logloss: 0.358767	training's auc: 0.895175	valid_1's binary_logloss: 0.393269	valid_1's auc: 0.867195
[1200]	training's binary_logloss: 0.351642	training's auc: 0.900183	valid_1's binary_logloss: 0.392028	valid_1's auc: 0.868163
[1400]	training's binary_logloss: 0.345098	training's auc: 0.904571	valid_1's binary_logloss: 0.390937	valid_1's auc: 0.868873
[1600]	training's binary_logloss: 0.339193	training's auc: 0.908512	valid_1's binary_logloss: 0.390137	valid_1's auc: 0.869515
[1800]	training's binary_logloss: 0.333482	training's auc: 0.912196	valid_1's binary_logloss: 0.389657	valid_1's auc: 0.869768
[2000]	training's binary_logloss: 0.32819	training's auc: 0.915517	valid_1's binary_logloss: 0.389297	valid_1's auc: 0.870049
[2200]	training's binary_logloss: 0.323223	training's auc: 0.918591	valid_1's binary_logloss: 0.389075	valid_1's auc: 0.870235
[2400]	training's binary_logloss: 0.318359	training's auc: 0.921541	valid_1's binary_logloss: 0.388973	valid_1's auc: 0.870251
Early stopping, best iteration is:
[2290]	training's binary_logloss: 0.321063	training's auc: 0.919894	valid_1's binary_logloss: 0.38882	valid_1's auc: 0.870374
err:  0.8703738999515814
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.39919	training's auc: 0.864707	valid_1's binary_logloss: 0.417095	valid_1's auc: 0.848527
[400]	training's binary_logloss: 0.384957	training's auc: 0.875657	valid_1's binary_logloss: 0.411746	valid_1's auc: 0.852722
[600]	training's binary_logloss: 0.374496	training's auc: 0.883677	valid_1's binary_logloss: 0.408962	valid_1's auc: 0.85501
[800]	training's binary_logloss: 0.365243	training's auc: 0.890496	valid_1's binary_logloss: 0.407121	valid_1's auc: 0.856572
[1000]	training's binary_logloss: 0.357463	training's auc: 0.895997	valid_1's binary_logloss: 0.405801	valid_1's auc: 0.857544
[1200]	training's binary_logloss: 0.350062	training's auc: 0.901073	valid_1's binary_logloss: 0.404415	valid_1's auc: 0.858602
[1400]	training's binary_logloss: 0.343269	training's auc: 0.905693	valid_1's binary_logloss: 0.403461	valid_1's auc: 0.859398
[1600]	training's binary_logloss: 0.337252	training's auc: 0.909579	valid_1's binary_logloss: 0.402506	valid_1's auc: 0.860187
[1800]	training's binary_logloss: 0.331304	training's auc: 0.913483	valid_1's binary_logloss: 0.401635	valid_1's auc: 0.860953
[2000]	training's binary_logloss: 0.326019	training's auc: 0.916796	valid_1's binary_logloss: 0.400953	valid_1's auc: 0.861544
[2200]	training's binary_logloss: 0.321001	training's auc: 0.919901	valid_1's binary_logloss: 0.400435	valid_1's auc: 0.861993
[2400]	training's binary_logloss: 0.316175	training's auc: 0.922787	valid_1's binary_logloss: 0.400138	valid_1's auc: 0.862256
[2600]	training's binary_logloss: 0.311502	training's auc: 0.925534	valid_1's binary_logloss: 0.399784	valid_1's auc: 0.862612
[2800]	training's binary_logloss: 0.307176	training's auc: 0.928029	valid_1's binary_logloss: 0.399631	valid_1's auc: 0.862751
[3000]	training's binary_logloss: 0.303048	training's auc: 0.930359	valid_1's binary_logloss: 0.399516	valid_1's auc: 0.862907
[3200]	training's binary_logloss: 0.299102	training's auc: 0.932598	valid_1's binary_logloss: 0.39947	valid_1's auc: 0.862954
Early stopping, best iteration is:
[3098]	training's binary_logloss: 0.30119	training's auc: 0.931394	valid_1's binary_logloss: 0.399375	valid_1's auc: 0.863015
err:  0.8630146440693884
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.400746	training's auc: 0.863728	valid_1's binary_logloss: 0.408668	valid_1's auc: 0.855301
[400]	training's binary_logloss: 0.385943	training's auc: 0.875181	valid_1's binary_logloss: 0.40218	valid_1's auc: 0.86001
[600]	training's binary_logloss: 0.375261	training's auc: 0.883275	valid_1's binary_logloss: 0.398626	valid_1's auc: 0.862653
[800]	training's binary_logloss: 0.366538	training's auc: 0.88976	valid_1's binary_logloss: 0.396377	valid_1's auc: 0.864353
[1000]	training's binary_logloss: 0.358563	training's auc: 0.895401	valid_1's binary_logloss: 0.394824	valid_1's auc: 0.865549
[1200]	training's binary_logloss: 0.351648	training's auc: 0.900172	valid_1's binary_logloss: 0.39363	valid_1's auc: 0.866564
[1400]	training's binary_logloss: 0.345274	training's auc: 0.904536	valid_1's binary_logloss: 0.392368	valid_1's auc: 0.86761
[1600]	training's binary_logloss: 0.339243	training's auc: 0.90849	valid_1's binary_logloss: 0.391318	valid_1's auc: 0.868413
[1800]	training's binary_logloss: 0.333696	training's auc: 0.91213	valid_1's binary_logloss: 0.390719	valid_1's auc: 0.868972
[2000]	training's binary_logloss: 0.328358	training's auc: 0.915465	valid_1's binary_logloss: 0.389939	valid_1's auc: 0.869589
[2200]	training's binary_logloss: 0.323406	training's auc: 0.918547	valid_1's binary_logloss: 0.38961	valid_1's auc: 0.869869
Early stopping, best iteration is:
[2125]	training's binary_logloss: 0.325164	training's auc: 0.91748	valid_1's binary_logloss: 0.389454	valid_1's auc: 0.870007
err:  0.8700069171520906
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.399984	training's auc: 0.864203	valid_1's binary_logloss: 0.408908	valid_1's auc: 0.855735
[400]	training's binary_logloss: 0.3852	training's auc: 0.875627	valid_1's binary_logloss: 0.403017	valid_1's auc: 0.860109
[600]	training's binary_logloss: 0.374783	training's auc: 0.88359	valid_1's binary_logloss: 0.399672	valid_1's auc: 0.862775
[800]	training's binary_logloss: 0.366404	training's auc: 0.889682	valid_1's binary_logloss: 0.397686	valid_1's auc: 0.864301
[1000]	training's binary_logloss: 0.35869	training's auc: 0.895145	valid_1's binary_logloss: 0.395851	valid_1's auc: 0.865683
[1200]	training's binary_logloss: 0.352133	training's auc: 0.899724	valid_1's binary_logloss: 0.394675	valid_1's auc: 0.866526
[1400]	training's binary_logloss: 0.345473	training's auc: 0.904232	valid_1's binary_logloss: 0.393349	valid_1's auc: 0.867492
[1600]	training's binary_logloss: 0.339115	training's auc: 0.908479	valid_1's binary_logloss: 0.392028	valid_1's auc: 0.86853
[1800]	training's binary_logloss: 0.33339	training's auc: 0.91216	valid_1's binary_logloss: 0.391053	valid_1's auc: 0.869174
[2000]	training's binary_logloss: 0.327935	training's auc: 0.915596	valid_1's binary_logloss: 0.389947	valid_1's auc: 0.870061
[2200]	training's binary_logloss: 0.322933	training's auc: 0.918679	valid_1's binary_logloss: 0.389455	valid_1's auc: 0.87031
[2400]	training's binary_logloss: 0.318244	training's auc: 0.92156	valid_1's binary_logloss: 0.389331	valid_1's auc: 0.870428
[2600]	training's binary_logloss: 0.313827	training's auc: 0.924225	valid_1's binary_logloss: 0.38913	valid_1's auc: 0.870596
[2800]	training's binary_logloss: 0.309464	training's auc: 0.926788	valid_1's binary_logloss: 0.388798	valid_1's auc: 0.870921
[3000]	training's binary_logloss: 0.3054	training's auc: 0.929127	valid_1's binary_logloss: 0.388754	valid_1's auc: 0.871049
[3200]	training's binary_logloss: 0.30151	training's auc: 0.931303	valid_1's binary_logloss: 0.388628	valid_1's auc: 0.871133
[3400]	training's binary_logloss: 0.297555	training's auc: 0.933534	valid_1's binary_logloss: 0.3885	valid_1's auc: 0.87124
Early stopping, best iteration is:
[3367]	training's binary_logloss: 0.298191	training's auc: 0.933164	valid_1's binary_logloss: 0.388352	valid_1's auc: 0.871359
err:  0.8713586309821688
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.399968	training's auc: 0.864171	valid_1's binary_logloss: 0.412013	valid_1's auc: 0.854193
[400]	training's binary_logloss: 0.385241	training's auc: 0.875453	valid_1's binary_logloss: 0.405523	valid_1's auc: 0.858832
[600]	training's binary_logloss: 0.374681	training's auc: 0.883356	valid_1's binary_logloss: 0.402378	valid_1's auc: 0.860967
[800]	training's binary_logloss: 0.365703	training's auc: 0.889979	valid_1's binary_logloss: 0.400221	valid_1's auc: 0.862587
[1000]	training's binary_logloss: 0.358103	training's auc: 0.895442	valid_1's binary_logloss: 0.398816	valid_1's auc: 0.863733
[1200]	training's binary_logloss: 0.351339	training's auc: 0.900277	valid_1's binary_logloss: 0.397858	valid_1's auc: 0.864524
[1400]	training's binary_logloss: 0.344918	training's auc: 0.904639	valid_1's binary_logloss: 0.396882	valid_1's auc: 0.865275
[1600]	training's binary_logloss: 0.338991	training's auc: 0.908601	valid_1's binary_logloss: 0.396351	valid_1's auc: 0.865657
[1800]	training's binary_logloss: 0.332995	training's auc: 0.912497	valid_1's binary_logloss: 0.396006	valid_1's auc: 0.866004
[2000]	training's binary_logloss: 0.327893	training's auc: 0.915765	valid_1's binary_logloss: 0.395898	valid_1's auc: 0.866132
[2200]	training's binary_logloss: 0.322593	training's auc: 0.919032	valid_1's binary_logloss: 0.395298	valid_1's auc: 0.866749
[2400]	training's binary_logloss: 0.317879	training's auc: 0.92187	valid_1's binary_logloss: 0.395083	valid_1's auc: 0.867024
[2600]	training's binary_logloss: 0.313029	training's auc: 0.924839	valid_1's binary_logloss: 0.395107	valid_1's auc: 0.867155
Early stopping, best iteration is:
[2479]	training's binary_logloss: 0.316113	training's auc: 0.922953	valid_1's binary_logloss: 0.394939	valid_1's auc: 0.867234
err:  0.8672340510712689
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.400985	training's auc: 0.86368	valid_1's binary_logloss: 0.406989	valid_1's auc: 0.856373
[400]	training's binary_logloss: 0.386579	training's auc: 0.874818	valid_1's binary_logloss: 0.400201	valid_1's auc: 0.86125
[600]	training's binary_logloss: 0.376356	training's auc: 0.88268	valid_1's binary_logloss: 0.397047	valid_1's auc: 0.863621
[800]	training's binary_logloss: 0.367068	training's auc: 0.889625	valid_1's binary_logloss: 0.394167	valid_1's auc: 0.865784
[1000]	training's binary_logloss: 0.35926	training's auc: 0.895185	valid_1's binary_logloss: 0.392659	valid_1's auc: 0.866838
[1200]	training's binary_logloss: 0.352383	training's auc: 0.899974	valid_1's binary_logloss: 0.391335	valid_1's auc: 0.86772
[1400]	training's binary_logloss: 0.345537	training's auc: 0.90467	valid_1's binary_logloss: 0.390059	valid_1's auc: 0.868683
[1600]	training's binary_logloss: 0.339496	training's auc: 0.908576	valid_1's binary_logloss: 0.388985	valid_1's auc: 0.869407
[1800]	training's binary_logloss: 0.333607	training's auc: 0.912442	valid_1's binary_logloss: 0.388159	valid_1's auc: 0.87003
[2000]	training's binary_logloss: 0.328473	training's auc: 0.915648	valid_1's binary_logloss: 0.387932	valid_1's auc: 0.870125
[2200]	training's binary_logloss: 0.323532	training's auc: 0.918638	valid_1's binary_logloss: 0.387537	valid_1's auc: 0.870384
[2400]	training's binary_logloss: 0.31898	training's auc: 0.921383	valid_1's binary_logloss: 0.387554	valid_1's auc: 0.870333
Early stopping, best iteration is:
[2220]	training's binary_logloss: 0.323072	training's auc: 0.91891	valid_1's binary_logloss: 0.387475	valid_1's auc: 0.870457
err:  0.8704573104956106
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.400886	training's auc: 0.86331	valid_1's binary_logloss: 0.404879	valid_1's auc: 0.860857
[400]	training's binary_logloss: 0.386624	training's auc: 0.87448	valid_1's binary_logloss: 0.398247	valid_1's auc: 0.865468
[600]	training's binary_logloss: 0.376069	training's auc: 0.882411	valid_1's binary_logloss: 0.394974	valid_1's auc: 0.867752
[800]	training's binary_logloss: 0.36715	training's auc: 0.888985	valid_1's binary_logloss: 0.39282	valid_1's auc: 0.869276
[1000]	training's binary_logloss: 0.359413	training's auc: 0.894512	valid_1's binary_logloss: 0.391525	valid_1's auc: 0.870238
[1200]	training's binary_logloss: 0.352304	training's auc: 0.899568	valid_1's binary_logloss: 0.390285	valid_1's auc: 0.87106
[1400]	training's binary_logloss: 0.345653	training's auc: 0.904085	valid_1's binary_logloss: 0.388802	valid_1's auc: 0.872204
[1600]	training's binary_logloss: 0.339586	training's auc: 0.908021	valid_1's binary_logloss: 0.387869	valid_1's auc: 0.872905
[1800]	training's binary_logloss: 0.333498	training's auc: 0.912026	valid_1's binary_logloss: 0.387034	valid_1's auc: 0.873539
[2000]	training's binary_logloss: 0.32825	training's auc: 0.915331	valid_1's binary_logloss: 0.38623	valid_1's auc: 0.874075
[2200]	training's binary_logloss: 0.323195	training's auc: 0.918446	valid_1's binary_logloss: 0.385614	valid_1's auc: 0.874416
[2400]	training's binary_logloss: 0.31848	training's auc: 0.921338	valid_1's binary_logloss: 0.385122	valid_1's auc: 0.874674
[2600]	training's binary_logloss: 0.313886	training's auc: 0.924076	valid_1's binary_logloss: 0.385046	valid_1's auc: 0.87464
Early stopping, best iteration is:
[2419]	training's binary_logloss: 0.317976	training's auc: 0.921658	valid_1's binary_logloss: 0.38499	valid_1's auc: 0.874792
err:  0.8747922918081864
Training until validation scores don't improve for 200 rounds.
[200]	training's binary_logloss: 0.401385	training's auc: 0.863237	valid_1's binary_logloss: 0.400271	valid_1's auc: 0.864325
[400]	training's binary_logloss: 0.387009	training's auc: 0.874286	valid_1's binary_logloss: 0.395663	valid_1's auc: 0.867102
[600]	training's binary_logloss: 0.376707	training's auc: 0.882114	valid_1's binary_logloss: 0.392945	valid_1's auc: 0.868931
[800]	training's binary_logloss: 0.367637	training's auc: 0.888883	valid_1's binary_logloss: 0.3911	valid_1's auc: 0.870133
[1000]	training's binary_logloss: 0.359875	training's auc: 0.894342	valid_1's binary_logloss: 0.38914	valid_1's auc: 0.871478
[1200]	training's binary_logloss: 0.352443	training's auc: 0.899489	valid_1's binary_logloss: 0.387578	valid_1's auc: 0.872477
[1400]	training's binary_logloss: 0.345841	training's auc: 0.904067	valid_1's binary_logloss: 0.38675	valid_1's auc: 0.873028
[1600]	training's binary_logloss: 0.339794	training's auc: 0.908055	valid_1's binary_logloss: 0.385799	valid_1's auc: 0.873755
[1800]	training's binary_logloss: 0.334071	training's auc: 0.911787	valid_1's binary_logloss: 0.38522	valid_1's auc: 0.874131
[2000]	training's binary_logloss: 0.328928	training's auc: 0.915027	valid_1's binary_logloss: 0.384585	valid_1's auc: 0.874663
[2200]	training's binary_logloss: 0.324102	training's auc: 0.918005	valid_1's binary_logloss: 0.384356	valid_1's auc: 0.874845
[2400]	training's binary_logloss: 0.3194	training's auc: 0.920888	valid_1's binary_logloss: 0.384145	valid_1's auc: 0.874979
[2600]	training's binary_logloss: 0.314792	training's auc: 0.923696	valid_1's binary_logloss: 0.383954	valid_1's auc: 0.875109
[2800]	training's binary_logloss: 0.310354	training's auc: 0.926257	valid_1's binary_logloss: 0.383876	valid_1's auc: 0.875175
Early stopping, best iteration is:
[2727]	training's binary_logloss: 0.311992	training's auc: 0.925346	valid_1's binary_logloss: 0.38385	valid_1's auc: 0.875191
err:  0.8751905345038967

In [ ]:
np.mean(err,0)

0.8698448366490517

In [ ]:
all_features = feature_importance_df[["feature", "importance"]].groupby("feature").mean().sort_values(by="importance", ascending=False)
all_features.reset_index(inplace=True)
important_features = list(all_features[0:150]['feature'])
all_features[0:150]

              feature  importance
0             Reg_day      9388.2
1              fi_day      8027.5
2                 Age      7144.9
3           Reg_month      6975.9
4            fi_month      6419.9
5           camp_days      5965.0
6           City_Type      5370.9
7     Education_Score      4773.5
8                Var1      3363.4
9   Employer_Category      3355.9
10            fi_year      3265.6
11          Category2      3229.6
12             Income      2731.0
13           Reg_year      2474.5
14               Var5      1778.0
15          Category1      1625.9
16               Var2      1205.5
17    LinkedIn_Shared       554.8
18    Facebook_Shared       424.2
19    Online_Follower       393.2
20     Twitter_Shared       377.5
21               Var4       376.9
22          Category3       146.1
23               Var3         0.1

In [ ]:
df1 = X[important_features]
corr_matrix = df1.corr().abs()

# Select upper triangle of correlation matrix
upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))

# Find index of feature columns with correlation greater than 0.95
high_cor = [column for column in upper.columns if any(upper[column] > 0.98)]
print(len(high_cor))
print(high_cor)

0
[]

In [ ]:
sub_df = pd.DataFrame(test_df)
sub_df["Outcome"] = np.mean(y_pred_tot,0)
sub_final_df = test_df[['Patient_ID','Health_Camp_ID','Outcome']]
sub_final_df.head()

   Patient_ID  Health_Camp_ID   Outcome
0      505701            6548  0.636203
1      500633            6584  0.535180
2      506945            6582  0.110546
3      497447            6551  0.685534
4      496446            6533  0.035902

In [ ]:
sub_final_df.to_csv("submission.csv", index=False)

In [ ]:
from google.colab import files
files.download('submission.csv')