<a href="https://colab.research.google.com/github/sornavel/Hackathons-Janatahack/blob/master/Healthcare.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install PyDrive

Requirement already satisfied: PyDrive in /usr/local/lib/python3.6/dist-packages (1.3.1)
Requirement already satisfied: google-api-python-client>=1.2 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (1.7.12)
Requirement already satisfied: oauth2client>=4.0.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (4.1.3)
Requirement already satisfied: PyYAML>=3.0 in /usr/local/lib/python3.6/dist-packages (from PyDrive) (3.13)
Requirement already satisfied: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (3.0.1)
Requirement already satisfied: httplib2<1dev,>=0.17.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.17.4)
Requirement already satisfied: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.17.2)
Requirement already satisfied: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (0.0.4)
Requirement already satisfied: six<2dev,>=1.6.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.2->PyDrive) (1.12.0)
Requirement already satisfied: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.4.8)
Requirement already satisfied: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (4.6)
Requirement already satisfied: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.0.0->PyDrive) (0.2.8)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (49.1.0)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.2->PyDrive) (4.1.1)

In [ ]:
import os
import pandas as pd
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
np.random.seed(0)
from tqdm import tqdm, tqdm_notebook
tqdm.pandas()
from IPython.core.display import HTML 
from IPython.display import Image
import gc
from keras.applications.densenet import preprocess_input, DenseNet121
from keras.models import Model
from keras.layers import GlobalAveragePooling2D, Input, Lambda, AveragePooling1D
import keras.backend as K

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
download = drive.CreateFile({'id': '1FUu6ZyHdGB_ElcE4ZuwzPAh-DbQ7mAwQ'})
download.GetContentFile('train.csv')
train_df = pd.read_csv('train.csv')

download = drive.CreateFile({'id': '1vE_M60f3HJ4R1GSFl3QjHWzuwEIcVrmd'})
download.GetContentFile('Third_Health_Camp_Attended.csv')
third_df = pd.read_csv('Third_Health_Camp_Attended.csv')

download = drive.CreateFile({'id': '1hnoPLF_uC4hrpCcSFmGJ1UxLog7grgrl'})
download.GetContentFile('Second_Health_Camp_Attended.csv')
second_df = pd.read_csv('Second_Health_Camp_Attended.csv')

download = drive.CreateFile({'id': '1LMzFdyra4gObQctf5h0lb6DtUnqiLBT3'})
download.GetContentFile('First_Health_Camp_Attended.csv')
first_df = pd.read_csv('First_Health_Camp_Attended.csv')

download = drive.CreateFile({'id': '16JMb9xNz5BEMlV9dS7reh9yi8ivGHYT2'})
download.GetContentFile('Patient_Profile.csv')
patient_df = pd.read_csv('Patient_Profile.csv')

download = drive.CreateFile({'id': '16AFNM3SlDDRMpEAdq4ssddK5QwoH9S33'})
download.GetContentFile('Health_Camp_Detail.csv')
camp_df = pd.read_csv('Health_Camp_Detail.csv')

download = drive.CreateFile({'id': '1aQqKgHFJ0M5j-V34G_TZgOIi2xc6GnaA'})
download.GetContentFile('test.csv')
test_df = pd.read_csv('test.csv')

In [ ]:
train_df.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0
3      524931            6535         07-Feb-04     0     0     0     0     0
4      521364            6529         28-Feb-06    15     1     0     0     7

In [ ]:
first_df.head()

   Patient_ID  Health_Camp_ID  Donation  Health_Score  Unnamed: 4
0      506181            6560        40      0.439024         NaN
1      494977            6560        20      0.097561         NaN
2      518680            6560        10      0.048780         NaN
3      509916            6560        30      0.634146         NaN
4      488006            6560        20      0.024390         NaN

In [ ]:
second_df.head()

   Patient_ID  Health_Camp_ID  Health Score
0      526631            6536      0.875136
1      509122            6536      0.755700
2      498864            6536      0.673181
3      515398            6536      0.722041
4      504624            6536      0.464712

In [ ]:
third_df.head()

   Patient_ID  ...  Last_Stall_Visited_Number
0      517875  ...                          1
1      504692  ...                          1
2      504692  ...                          1
3      493167  ...                          4
4      510954  ...                          2

[5 rows x 4 columns]

In [ ]:
patient_df.head()

   Patient_ID  Online_Follower  ...  City_Type  Employer_Category
0      516956                0  ...        NaN  Software Industry
1      507733                0  ...          H  Software Industry
2      508307                0  ...          D               BFSI
3      512612                0  ...          D          Education
4      521075                0  ...          H             Others

[5 rows x 11 columns]

In [ ]:
camp_df.head()

   Health_Camp_ID Camp_Start_Date Camp_End_Date Category1 Category2  Category3
0            6560       16-Aug-03     20-Aug-03     First         B          2
1            6530       16-Aug-03     28-Oct-03     First         C          2
2            6544       03-Nov-03     15-Nov-03     First         F          1
3            6585       22-Nov-03     05-Dec-03     First         E          2
4            6561       30-Nov-03     18-Dec-03     First         E          1

In [ ]:
test_df.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      505701            6548         21-May-06     1     0     0     0     2
1      500633            6584         02-Jun-06     0     0     0     0     0
2      506945            6582         10-Aug-06     0     0     0     0     0
3      497447            6551         27-Aug-06     0     0     0     0     0
4      496446            6533         19-Sep-06     0     0     0     0     0

In [ ]:
third_df_filtered = third_df[third_df.Number_of_stall_visited!=0]

In [ ]:
df = pd.concat([train_df,test_df],axis=0)
df.head()

   Patient_ID  Health_Camp_ID Registration_Date  Var1  Var2  Var3  Var4  Var5
0      489652            6578         10-Sep-05     4     0     0     0     2
1      507246            6578         18-Aug-05    45     5     0     0     7
2      523729            6534         29-Apr-06     0     0     0     0     0
3      524931            6535         07-Feb-04     0     0     0     0     0
4      521364            6529         28-Feb-06    15     1     0     0     7

In [ ]:
temp = pd.merge(df,first_df,how='left', on=['Patient_ID','Health_Camp_ID'])
temp.Health_Score.loc[~temp.Health_Score.isnull()] = 1
temp.Health_Score.loc[temp.Health_Score.isnull()] = 0
df = temp.rename(columns={'Health_Score':'succ_1'})

temp = pd.merge(df,second_df,how='left', on=['Patient_ID','Health_Camp_ID'])
temp['Health Score'].loc[~temp['Health Score'].isnull()] = 1
temp['Health Score'].loc[temp['Health Score'].isnull()] = 0
df = temp.rename(columns={'Health Score':'succ_2'})

temp = pd.merge(df,third_df_filtered,how='left', on=['Patient_ID','Health_Camp_ID'])
temp['Number_of_stall_visited'].loc[~temp['Number_of_stall_visited'].isnull()] = 1
temp['Number_of_stall_visited'].loc[temp['Number_of_stall_visited'].isnull()] = 0
df = temp.rename(columns={'Number_of_stall_visited':'succ_3'})
df.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

   Patient_ID  Health_Camp_ID  ... succ_3  Last_Stall_Visited_Number
0      489652            6578  ...    1.0                        1.0
1      507246            6578  ...    0.0                        NaN
2      523729            6534  ...    0.0                        NaN
3      524931            6535  ...    0.0                        NaN
4      521364            6529  ...    0.0                        NaN

[5 rows x 14 columns]

In [ ]:
df.drop(['Donation','Unnamed: 4','Last_Stall_Visited_Number'],axis=1,inplace=True)

In [ ]:
df['Reg_year'] = pd.DatetimeIndex(df.Registration_Date).year
df['Reg_month'] = pd.DatetimeIndex(df.Registration_Date).month
df['Reg_day'] = pd.DatetimeIndex(df.Registration_Date).day

In [ ]:
temp = pd.merge(df,patient_df,on='Patient_ID',how='left')
df=temp
temp = pd.merge(df,camp_df,on='Health_Camp_ID',how='left')
df=temp

In [ ]:
df.drop(['Patient_ID','Health_Camp_ID','Registration_Date',],axis=1,inplace=True)

In [ ]:
df.Income[df.Income=='None'] = 0
df.Education_Score[df.Education_Score=='None'] = 0
df.Age[df.Age=='None'] = 0
df.Age = df.Age.astype('int64')
df.Age[df.Age==0] = df.Age[df.Age!=0].mean()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
df['fi_year'] = pd.DatetimeIndex(df.First_Interaction).year
df['fi_month'] = pd.DatetimeIndex(df.First_Interaction).month
df['fi_day'] = pd.DatetimeIndex(df.First_Interaction).day

In [ ]:
df.drop(['First_Interaction'],axis=1,inplace=True)

In [ ]:
#temp = df.City_Type[~df.City_Type.isnull()].mode()
df.City_Type = df.City_Type.replace(np.nan,'B')
df.Employer_Category = df.Employer_Category.replace(np.nan,'Technology')

In [ ]:
temp = pd.to_datetime(df.Camp_End_Date) - pd.to_datetime(df.Camp_Start_Date)
df['camp_days'] = temp.dt.days

In [ ]:
df.drop(['Camp_Start_Date', 'Camp_End_Date'],axis=1,inplace=True)
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder() 
df['City_Type']= le.fit_transform(df['City_Type']) 
df['Category1']= le.fit_transform(df['Category1']) 
df['Category2']= le.fit_transform(df['Category2']) 
df['Employer_Category']= le.fit_transform(df['Employer_Category'])

In [ ]:
#temp = df.Reg_year[~df.Reg_year.isnull()].mode() = 2006
df.Reg_year = df.Reg_year.replace(np.nan,2006)
df.Reg_month = df.Reg_month.replace(np.nan,9)
df.Reg_day = df.Reg_day.replace(np.nan,18)

In [ ]:
df['succ'] = df['succ_1'] + df['succ_2'] + df['succ_3']

In [ ]:
y_train = df['succ'][:train_df.shape[0]]
df.drop(['succ','succ_1','succ_2','succ_3'],axis=1,inplace = True)

In [ ]:
df.head()

   Var1  Var2  Var3  Var4  ...  fi_year  fi_month  fi_day  camp_days
0     4     0     0     0  ...     2004        12       6         59
1    45     5     0     0  ...     2004         9       8         59
2     0     0     0     0  ...     2004         6      22        751
3     0     0     0     0  ...     2004         2       7         17
4    15     1     0     0  ...     2003         7       4          4

[5 rows x 24 columns]

In [ ]:
!pip install catboost
!pip install category_encoders
train_cols=df.columns
train = df[:train_df.shape[0]]
test = df[train_df.shape[0]:]

from sklearn.model_selection import KFold
from sklearn.metrics import roc_auc_score as auc
from catboost import Pool, CatBoostClassifier
from category_encoders import TargetEncoder
def run_cv_model(train, test, target, model_fn, params={}, eval_fn=None, label='model', n_folds=5):
    kf = StratifiedKFold(n_splits=n_folds, shuffle = True, random_state = 228)
    fold_splits = kf.split(train, target)
    cv_scores = []
    pred_full_test = 0
    pred_train = np.zeros((train.shape[0]))
    feature_importances = pd.DataFrame()
    feature_importances['feature'] = test.columns
    i = 1
    for dev_index, val_index in fold_splits:
        print('-------------------------------------------')
        print('Started ' + label + ' fold ' + str(i) + f'/{n_folds}')
        dev_X, val_X = train.iloc[dev_index], train.iloc[val_index]
        dev_y, val_y = target.iloc[dev_index], target.iloc[val_index]
        params2 = params.copy()
        pred_val_y, pred_test_y, fi = model_fn(dev_X, dev_y, val_X, val_y, test, params2)
        feature_importances[f'fold_{i}'] = fi
        pred_full_test = pred_full_test + pred_test_y
        pred_train[val_index] = pred_val_y
        if eval_fn is not None:
            cv_score = eval_fn(val_y, pred_val_y)
            cv_scores.append(cv_score)
            print(label + ' cv score {}: {}'.format(i, cv_score), '\n')
        i += 1
    print('{} cv scores : {}'.format(label, cv_scores))
    print('{} cv mean score : {}'.format(label, np.mean(cv_scores)))
    print('{} cv std score : {}'.format(label, np.std(cv_scores)))
    pred_full_test = pred_full_test / n_folds
    results = {'label': label,
              'train': pred_train, 'test': pred_full_test,
              'cv': cv_scores, 'fi': feature_importances}
    return results

Requirement already satisfied: catboost in /usr/local/lib/python3.6/dist-packages (0.23.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: category_encoders in /usr/local/lib/python3.6/dist-packages (2.2.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.18.5)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.0.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5.1->category_encoders) (1.12.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.16.0)

In [ ]:
train.shape, test.shape

((75278, 24), (35249, 24))

In [ ]:
def runCAT(train_X, train_y, test_X, test_y, test_X2, params):
    # Pool the data and specify the categorical feature indices
    print('Pool Data')
    _train = Pool(train_X, label=train_y)
    _valid = Pool(test_X, label=test_y)    
    print('Train CAT')
    model = CatBoostClassifier(**params)
    fit_model = model.fit(_train,
                          eval_set=_valid,
                          use_best_model=True,
                          verbose=1000,
                          plot=False)
    feature_im = fit_model.feature_importances_
    print('Predict 1/2')
#    pred_test_y = logit(fit_model.predict_proba(test_X)[:, 1])
    pred_test_y = fit_model.predict_proba(test_X)[:, 1]
    print('Predict 2/2')
    pred_test_y2 = fit_model.predict_proba(test_X2)[:, 1]
#    pred_test_y2 = logit(fit_model.predict_proba(test_X2)[:, 1])    
    return pred_test_y, pred_test_y2, feature_im


# Use some baseline parameters
cat_params = {'loss_function': 'CrossEntropy', 
              'eval_metric': "AUC",
              'learning_rate': 0.01,
              'iterations': 10000,
              'random_seed': 42,
              'od_type': "Iter",
              'early_stopping_rounds': 150,
             }

In [ ]:
from sklearn.model_selection import StratifiedKFold
from scipy.special import logit

n_folds = 10
results = run_cv_model(train[train_cols], test[train_cols], y_train, runCAT, cat_params, auc, 'cat', n_folds=n_folds)
day = 4
sub = 2

-------------------------------------------
Started cat fold 1/10
Pool Data
Train CAT
0:	test: 0.8023226	best: 0.8023226 (0)	total: 32.9ms	remaining: 5m 28s
1000:	test: 0.8502603	best: 0.8502603 (1000)	total: 33.2s	remaining: 4m 58s
2000:	test: 0.8585605	best: 0.8585605 (2000)	total: 1m 5s	remaining: 4m 23s
3000:	test: 0.8623994	best: 0.8623994 (3000)	total: 1m 38s	remaining: 3m 49s
4000:	test: 0.8644826	best: 0.8644858 (3999)	total: 2m 11s	remaining: 3m 17s
5000:	test: 0.8658705	best: 0.8658705 (5000)	total: 2m 44s	remaining: 2m 44s
6000:	test: 0.8668803	best: 0.8668809 (5996)	total: 3m 17s	remaining: 2m 11s
7000:	test: 0.8677500	best: 0.8677553 (6986)	total: 3m 49s	remaining: 1m 38s
8000:	test: 0.8684705	best: 0.8684965 (7979)	total: 4m 22s	remaining: 1m 5s
9000:	test: 0.8690414	best: 0.8690490 (8998)	total: 4m 55s	remaining: 32.7s
9999:	test: 0.8693538	best: 0.8693648 (9935)	total: 5m 27s	remaining: 0us

bestTest = 0.8693648367
bestIteration = 9935

Shrink model to first 9936 iterations.
Predict 1/2
Predict 2/2
cat cv score 1: 0.869364836659019

-------------------------------------------
Started cat fold 2/10
Pool Data
Train CAT
0:	test: 0.7946727	best: 0.7946727 (0)	total: 32.1ms	remaining: 5m 21s
1000:	test: 0.8395626	best: 0.8395626 (1000)	total: 33.1s	remaining: 4m 57s
2000:	test: 0.8477695	best: 0.8477695 (2000)	total: 1m 6s	remaining: 4m 23s
3000:	test: 0.8513109	best: 0.8513109 (3000)	total: 1m 38s	remaining: 3m 50s
4000:	test: 0.8531873	best: 0.8531903 (3994)	total: 2m 11s	remaining: 3m 17s
5000:	test: 0.8547669	best: 0.8547750 (4994)	total: 2m 44s	remaining: 2m 44s
6000:	test: 0.8558050	best: 0.8558061 (5997)	total: 3m 16s	remaining: 2m 11s
7000:	test: 0.8567834	best: 0.8567887 (6993)	total: 3m 48s	remaining: 1m 38s
8000:	test: 0.8574444	best: 0.8574631 (7977)	total: 4m 21s	remaining: 1m 5s
9000:	test: 0.8578657	best: 0.8578815 (8991)	total: 4m 54s	remaining: 32.7s
Stopped by overfitting detector  (150 iterations wait)

bestTest = 0.8581181234
bestIteration = 9676

Shrink model to first 9677 iterations.
Predict 1/2
Predict 2/2
cat cv score 2: 0.8581181234188777

-------------------------------------------
Started cat fold 3/10
Pool Data
Train CAT
0:	test: 0.8168740	best: 0.8168740 (0)	total: 31.8ms	remaining: 5m 18s
1000:	test: 0.8527292	best: 0.8527292 (1000)	total: 32.6s	remaining: 4m 53s
2000:	test: 0.8591154	best: 0.8591154 (2000)	total: 1m 5s	remaining: 4m 20s
3000:	test: 0.8617466	best: 0.8617478 (2999)	total: 1m 38s	remaining: 3m 48s
4000:	test: 0.8633315	best: 0.8633383 (3998)	total: 2m 10s	remaining: 3m 16s
5000:	test: 0.8643012	best: 0.8643012 (5000)	total: 2m 43s	remaining: 2m 43s
6000:	test: 0.8650883	best: 0.8650896 (5999)	total: 3m 16s	remaining: 2m 10s
7000:	test: 0.8656456	best: 0.8656581 (6992)	total: 3m 48s	remaining: 1m 38s
8000:	test: 0.8661504	best: 0.8661674 (7944)	total: 4m 21s	remaining: 1m 5s
9000:	test: 0.8664612	best: 0.8664685 (8951)	total: 4m 54s	remaining: 32.7s
Stopped by overfitting detector  (150 iterations wait)

bestTest = 0.8665957493
bestIteration = 9427

Shrink model to first 9428 iterations.
Predict 1/2
Predict 2/2
cat cv score 3: 0.8665957492602899

-------------------------------------------
Started cat fold 4/10
Pool Data
Train CAT
0:	test: 0.8155783	best: 0.8155783 (0)	total: 31.9ms	remaining: 5m 19s
1000:	test: 0.8559029	best: 0.8559029 (1000)	total: 33.2s	remaining: 4m 58s
2000:	test: 0.8630882	best: 0.8630884 (1999)	total: 1m 6s	remaining: 4m 23s
3000:	test: 0.8655492	best: 0.8655492 (3000)	total: 1m 39s	remaining: 3m 50s
4000:	test: 0.8672230	best: 0.8672251 (3999)	total: 2m 11s	remaining: 3m 17s
5000:	test: 0.8682794	best: 0.8682906 (4986)	total: 2m 44s	remaining: 2m 44s
6000:	test: 0.8689472	best: 0.8689496 (5873)	total: 3m 17s	remaining: 2m 11s
7000:	test: 0.8694711	best: 0.8694734 (6996)	total: 3m 50s	remaining: 1m 38s
8000:	test: 0.8698534	best: 0.8698852 (7951)	total: 4m 23s	remaining: 1m 5s
9000:	test: 0.8701825	best: 0.8702062 (8962)	total: 4m 56s	remaining: 32.9s
9999:	test: 0.8703834	best: 0.8704150 (9878)	total: 5m 29s	remaining: 0us

bestTest = 0.87041499
bestIteration = 9878

Shrink model to first 9879 iterations.
Predict 1/2
Predict 2/2
cat cv score 4: 0.8704149900085346

-------------------------------------------
Started cat fold 5/10
Pool Data
Train CAT
0:	test: 0.8034010	best: 0.8034010 (0)	total: 33.7ms	remaining: 5m 37s
1000:	test: 0.8495081	best: 0.8495081 (1000)	total: 32.9s	remaining: 4m 55s
2000:	test: 0.8571694	best: 0.8571694 (2000)	total: 1m 6s	remaining: 4m 24s
3000:	test: 0.8604382	best: 0.8604382 (3000)	total: 1m 39s	remaining: 3m 51s
4000:	test: 0.8620592	best: 0.8620592 (4000)	total: 2m 11s	remaining: 3m 17s
5000:	test: 0.8631070	best: 0.8631147 (4996)	total: 2m 43s	remaining: 2m 43s
6000:	test: 0.8640107	best: 0.8640171 (5997)	total: 3m 16s	remaining: 2m 10s
7000:	test: 0.8646219	best: 0.8646219 (6999)	total: 3m 48s	remaining: 1m 37s
8000:	test: 0.8651852	best: 0.8651942 (7948)	total: 4m 20s	remaining: 1m 5s
9000:	test: 0.8656345	best: 0.8656604 (8952)	total: 4m 53s	remaining: 32.5s
Stopped by overfitting detector  (150 iterations wait)

bestTest = 0.8660301997
bestIteration = 9813

Shrink model to first 9814 iterations.
Predict 1/2
Predict 2/2
cat cv score 5: 0.8660301997077448

-------------------------------------------
Started cat fold 6/10
Pool Data
Train CAT
0:	test: 0.8069450	best: 0.8069450 (0)	total: 34.4ms	remaining: 5m 43s
1000:	test: 0.8585554	best: 0.8585589 (999)	total: 32.5s	remaining: 4m 52s
2000:	test: 0.8642446	best: 0.8642446 (2000)	total: 1m 5s	remaining: 4m 20s
3000:	test: 0.8668291	best: 0.8668472 (2996)	total: 1m 37s	remaining: 3m 47s
4000:	test: 0.8680345	best: 0.8680345 (4000)	total: 2m 9s	remaining: 3m 14s
5000:	test: 0.8689005	best: 0.8689128 (4994)	total: 2m 42s	remaining: 2m 42s
6000:	test: 0.8694566	best: 0.8694683 (5952)	total: 3m 14s	remaining: 2m 9s
Stopped by overfitting detector  (150 iterations wait)

bestTest = 0.8695418443
bestIteration = 6169

Shrink model to first 6170 iterations.
Predict 1/2
Predict 2/2
cat cv score 6: 0.8695418443218188

-------------------------------------------
Started cat fold 7/10
Pool Data
Train CAT
0:	test: 0.8077887	best: 0.8077887 (0)	total: 31ms	remaining: 5m 9s
1000:	test: 0.8502933	best: 0.8502933 (1000)	total: 33.3s	remaining: 4m 59s
2000:	test: 0.8591930	best: 0.8592008 (1999)	total: 1m 6s	remaining: 4m 24s
3000:	test: 0.8627460	best: 0.8627460 (3000)	total: 1m 38s	remaining: 3m 50s
4000:	test: 0.8647596	best: 0.8647596 (4000)	total: 2m 11s	remaining: 3m 16s
5000:	test: 0.8663365	best: 0.8663431 (4993)	total: 2m 44s	remaining: 2m 44s
6000:	test: 0.8673466	best: 0.8673578 (5960)	total: 3m 16s	remaining: 2m 11s
7000:	test: 0.8680431	best: 0.8680525 (6998)	total: 3m 49s	remaining: 1m 38s
8000:	test: 0.8685745	best: 0.8685781 (7998)	total: 4m 21s	remaining: 1m 5s
9000:	test: 0.8691161	best: 0.8691193 (8998)	total: 4m 54s	remaining: 32.7s
9999:	test: 0.8694797	best: 0.8694850 (9996)	total: 5m 26s	remaining: 0us

bestTest = 0.8694849947
bestIteration = 9996

Shrink model to first 9997 iterations.
Predict 1/2
Predict 2/2
cat cv score 7: 0.8694849946731256

-------------------------------------------
Started cat fold 8/10
Pool Data
Train CAT
0:	test: 0.8082718	best: 0.8082718 (0)	total: 31.9ms	remaining: 5m 19s
1000:	test: 0.8515235	best: 0.8515304 (999)	total: 32.4s	remaining: 4m 51s
2000:	test: 0.8592331	best: 0.8592331 (2000)	total: 1m 4s	remaining: 4m 17s
3000:	test: 0.8626204	best: 0.8626204 (3000)	total: 1m 36s	remaining: 3m 46s
4000:	test: 0.8648759	best: 0.8648759 (4000)	total: 2m 9s	remaining: 3m 14s
5000:	test: 0.8666155	best: 0.8666187 (4998)	total: 2m 42s	remaining: 2m 41s
6000:	test: 0.8677134	best: 0.8677205 (5991)	total: 3m 14s	remaining: 2m 9s
7000:	test: 0.8685915	best: 0.8686053 (6989)	total: 3m 46s	remaining: 1m 37s
8000:	test: 0.8690230	best: 0.8690240 (7998)	total: 4m 18s	remaining: 1m 4s
9000:	test: 0.8694784	best: 0.8694906 (8992)	total: 4m 50s	remaining: 32.2s
9999:	test: 0.8699866	best: 0.8699873 (9998)	total: 5m 22s	remaining: 0us

bestTest = 0.8699873445
bestIteration = 9998

Shrink model to first 9999 iterations.
Predict 1/2
Predict 2/2
cat cv score 8: 0.8699873445030882

-------------------------------------------
Started cat fold 9/10
Pool Data
Train CAT
0:	test: 0.8045078	best: 0.8045078 (0)	total: 38.2ms	remaining: 6m 21s
1000:	test: 0.8491355	best: 0.8491355 (1000)	total: 31.9s	remaining: 4m 46s
2000:	test: 0.8569722	best: 0.8569722 (2000)	total: 1m 3s	remaining: 4m 14s
3000:	test: 0.8602085	best: 0.8602085 (3000)	total: 1m 35s	remaining: 3m 43s
4000:	test: 0.8624368	best: 0.8624374 (3996)	total: 2m 7s	remaining: 3m 11s
5000:	test: 0.8637921	best: 0.8637921 (5000)	total: 2m 39s	remaining: 2m 39s
6000:	test: 0.8647407	best: 0.8647446 (5997)	total: 3m 11s	remaining: 2m 7s
7000:	test: 0.8655749	best: 0.8655839 (6966)	total: 3m 43s	remaining: 1m 35s
Stopped by overfitting detector  (150 iterations wait)

bestTest = 0.8659403235
bestIteration = 7471

Shrink model to first 7472 iterations.
Predict 1/2
Predict 2/2
cat cv score 9: 0.8659403234810941

-------------------------------------------
Started cat fold 10/10
Pool Data
Train CAT
0:	test: 0.8037534	best: 0.8037534 (0)	total: 31.1ms	remaining: 5m 11s
1000:	test: 0.8473565	best: 0.8473565 (1000)	total: 32s	remaining: 4m 47s
2000:	test: 0.8541588	best: 0.8541588 (2000)	total: 1m 3s	remaining: 4m 14s
3000:	test: 0.8580019	best: 0.8580055 (2999)	total: 1m 35s	remaining: 3m 42s
4000:	test: 0.8602236	best: 0.8602236 (4000)	total: 2m 7s	remaining: 3m 11s
5000:	test: 0.8618482	best: 0.8618482 (5000)	total: 2m 39s	remaining: 2m 39s
6000:	test: 0.8628776	best: 0.8628777 (5998)	total: 3m 11s	remaining: 2m 7s
7000:	test: 0.8637333	best: 0.8637415 (6995)	total: 3m 43s	remaining: 1m 35s
8000:	test: 0.8643134	best: 0.8643215 (7979)	total: 4m 15s	remaining: 1m 3s
9000:	test: 0.8649707	best: 0.8649739 (8996)	total: 4m 47s	remaining: 31.9s
9999:	test: 0.8654707	best: 0.8654735 (9985)	total: 5m 19s	remaining: 0us

bestTest = 0.865473475
bestIteration = 9985

Shrink model to first 9986 iterations.
Predict 1/2
Predict 2/2
cat cv score 10: 0.8654734750165554

cat cv scores : [0.869364836659019, 0.8581181234188777, 0.8665957492602899, 0.8704149900085346, 0.8660301997077448, 0.8695418443218188, 0.8694849946731256, 0.8699873445030882, 0.8659403234810941, 0.8654734750165554]
cat cv mean score : 0.8670951881050148
cat cv std score : 0.0034952718837070284

In [ ]:
from math import exp
sub_df = pd.DataFrame(test_df)
sub_df["Outcome"] = results['test']
sub_final_df = test_df[['Patient_ID','Health_Camp_ID','Outcome']]
#sub_df.redemption_status = sub_df.redemption_status.apply(lambda x : 1 if x > 0.1 else 0)
sub_final_df.to_csv("submission.csv", index=False)
sub_final_df.head()
#sub_df.sort_values('redemption_status',ascending=False)

   Patient_ID  Health_Camp_ID   Outcome
0      505701            6548  0.676145
1      500633            6584  0.481240
2      506945            6582  0.077251
3      497447            6551  0.863161
4      496446            6533  0.052840

In [ ]:
from google.colab import files
files.download('submission.csv')